<template>
  <div style="justify-content: center; align-items: center; padding: 4vw;" class="login bgimage">
    <div style="text-align: right;">
      <nut-icon name="setting" color="white" @click="page.methods.showLnag"></nut-icon>
    </div>
    <nut-popup position="right" v-model:visible="page.state.langShow" style="width:60%; height:100%">
      <nut-sidenavbar>
        <nut-subsidenavbar :title="$t('lyapp.lang.languageSelect')" ikey="1">
          <nut-sidenavbaritem ikey="zh_cn" :title="$t('lyapp.lang.zhCN')" @click="page.methods.changeLang('zh_cn')"></nut-sidenavbaritem>
          <nut-sidenavbaritem ikey="zh_tw" :title="$t('lyapp.lang.zhTW')" @click="page.methods.changeLang('zh_tw')"></nut-sidenavbaritem>
          <nut-sidenavbaritem ikey="en" :title="$t('lyapp.lang.en')" @click="page.methods.changeLang('en')"></nut-sidenavbaritem>
        </nut-subsidenavbar>
      </nut-sidenavbar>
    </nut-popup>


    <div style="margin-top: 230px;">
      <h2 style="text-align: center;line-height: 18vw;font-weight: normal;">{{ $t("lyapp.login.appName") }}</h2>
      <nut-form v-model="formData" ref="formDataRule">
        <nut-form-item prop="account" required :rules="[
          { required: true, message: $t('lyapp.login.inputAccount') },
          { regex: /^(\S{5,24})$/, message: $t('lyapp.login.inputRightAccount') },
        ]">
          <nut-cell>
            <nut-icon name="my" color="#195ED7"></nut-icon>
            <input class="nut-input-text" maxlength="24" v-model="formData.account"
              :placeholder="$t('lyapp.login.inputAccount')" type="text" />
          </nut-cell>
        </nut-form-item>
        <nut-form-item prop="password" required :rules="[
          { required: true, message: $t('lyapp.login.inputPassword') },
          { regex: /^(\S{6,16})$/, message: $t('lyapp.login.inputRightPassword') },
        ]">
          <nut-cell>
            <nut-icon name="eye" color="#195ED7"></nut-icon>
            <input class="nut-input-text" maxlength="16" v-model="formData.password"
              :placeholder="$t('lyapp.login.inputPassword')" type="password" />
          </nut-cell>
        </nut-form-item>
        <nut-cell class="cell_switch">
          <nut-switch v-model="formData.remember" />
          <div>{{ $t("lyapp.login.autoLogin") }}</div>
        </nut-cell>
      </nut-form>
      <nut-button block type="primary" @click="page.methods.formSubmit">{{ $t("lyapp.login.logon") }}</nut-button>
      <nut-cell class="cell_switch cell_config">
        <div>{{ $t("lyapp.login.config") }}</div>
      </nut-cell>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import { login } from '@/api/account'
import { localCache, cache, setUser } from '@/utils/cache'
import { useI18n } from 'vue-i18n'

const { locale } = useI18n();


const formData = reactive({
  account: 'test1',
  password: '123456',
  remember: false
})

onMounted(() => {
  const loginInfo = JSON.parse(localCache.get('loginInfo'))
  if (loginInfo?.remember) {
    formData.account = loginInfo.account
    formData.password = loginInfo.password
    formData.remember = loginInfo.remember
    page.methods.formSubmit()
  }
})

useDidShow(() => { })
const formDataRule = ref({})


const page = reactive({
  state: {
    langShow: false,
  },
  methods: {
    formSubmit: () => {
      formDataRule.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          const loginInfo = JSON.stringify(formData)
          login(formData).then((res) => {
            cache.set('accessToken', res.accessToken)
            localCache.set('loginInfo', loginInfo)
            setUser(res.user)
            Taro.navigateTo({
              url: '/pages/index',
            })
          })
        }
      })
    },
    showLnag: () => {
      page.state.langShow = true;
    },
    changeLang: (langName) => {
      locale.value = langName
      localStorage.setItem('lang', langName)
      page.state.langShow = false
    }
  },
})
</script>

<style lang="scss" scoped>
.nut-cell {
  display: '';
}

.nut-cell-group .nut-cell::after {
  border: 0 !important;
}

.login .nut-icon {
  padding-right: 8cqw;
}

.login .nut-button {
  margin: auto;
  width: 68cqw;
}

.login .cell_switch {
  padding-top: 0cqh;
  padding-bottom: 1cqh;
  padding-left: 10cqw;
}

.login .cell_switch .nut-switch {
  height: 2.5cqh;
}

.login .cell_switch div {
  font-size: xx-small;
  padding-left: 1cqw;
}

.login .cell_config {
  box-shadow: none;
}

.bgimage {
  background-image: url("/public/img/logon/bj.png");
  background-size: cover;
}

.login .nut-input-text {
  border-bottom: 1px solid #A5A5A5;
}
</style>
