<template>
  <div>
    <nut-navbar @on-click-back="page.methods.back" title="生产管理">
      <template #left>
        <nut-icon name="rect-left"></nut-icon>
      </template>
    </nut-navbar>
    <nut-grid>
      <nut-grid-item icon="jdl" text="工单报工" icon-color="#195ED7" @click="page.methods.to('/pages/produce/workOrder/index')"></nut-grid-item>
      <nut-grid-item icon="eye" text="任务报工" icon-color="#195ED7" @click="page.methods.to('/pages/produce/taskorder/index')"></nut-grid-item>
    </nut-grid>
    <nut-divider />
    <nut-grid>
      <nut-grid-item icon="jdl" text="产量统计查询"></nut-grid-item>
      <nut-grid-item icon="eye" text="工单进度查询"></nut-grid-item>
      <nut-grid-item icon="shop" text="工单交期预警"></nut-grid-item>
      <nut-grid-item icon="cart" text="任务交期预警"></nut-grid-item>
    </nut-grid>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'

onMounted(() => {

})

useDidShow(() => { })

const loadding = ref(false)
const page = reactive({
  methods: {
    to: (url) => {
      Taro.navigateTo({
        url: url,
      })
    },
    back: () => {
      Taro.navigateTo({
        url: `pages/index`
      })
    }

  },
})
</script>

<style lang="scss" scoped></style>