<template>
  <nut-navbar @on-click-back="page.methods.back" title="工单报工列表">
    <template #left>
      <nut-icon name="rect-left"></nut-icon>
    </template>
    <template #right>
      <nut-button size="mini" shape="square" type="primary" @click="page.methods.toAdd">新增</nut-button>
    </template>
  </nut-navbar>
  <div>
    <nut-form :model-value="formSearch" ref="ruleForm">
      <nut-form-item label="时间段">
        <nut-input max-length="64" @click="calendar.isVisible = true"
          :placeholder="formSearch.tBillTimeStart ? `${formSearch.tBillTimeStart} 至 ${formSearch.tBillTimeEnd}` : '请选择'" />
      </nut-form-item>
      <nut-calendar v-model:visible="calendar.isVisible"
        :default-value="[formSearch.tBillTimeStart, formSearch.tBillTimeEnd]" type="range"
        @close="calendar.isVisible = false" @choose="calendar.setChooseValue" :start-date="`1999-01-01`">
      </nut-calendar>

      <div v-if="page.state.filterShow">
        <nut-form-item label="时间段" style="display: flex;">
          <nut-radiogroup direction="horizontal" v-model="formSearch.bAPP">
            <nut-radio label="-1">全部</nut-radio>
            <nut-radio label="1">已审</nut-radio>
            <nut-radio label="0">未审</nut-radio>
          </nut-radiogroup>
        </nut-form-item>

        <nut-form-item label="登记单号" prop="sBillNo">
          <nut-input max-length="64" v-model="formSearch.sBillNo" placeholder="可扫描/输入登记单号，模糊搜索" clearable />
        </nut-form-item>

        <nut-form-item label="工单号" prop="sWorkOrderNo">
          <nut-input max-length="64" v-model="formSearch.sWorkOrderNo" placeholder="可扫描/输入工单号，模糊搜索" clearable />
        </nut-form-item>

        <nut-form-item label="条码">
          <nut-input max-length="64" v-model="formSearch.uBarCode" placeholder="可扫描/输入条码，精确搜索" clearable />
        </nut-form-item>

        <nut-form-item label="工作中心">
          <model-list-select :list="optionData.workCenter.list" option-value="sName" option-text="sName"
            v-model="formSearch.sWorkCenterName" @searchchange="optionData.workCenter.search"
            @click="() => { optionData.workCenter.list.length > 0 ? '' : optionData.workCenter.search('') }">
          </model-list-select>
        </nut-form-item>
        <nut-form-item label="机台名称">
          <model-list-select :list="optionData.machine.list" option-value="sName" option-text="sName"
            v-model="formSearch.sMachineName" @searchchange="optionData.machine.search"
            @click="() => { optionData.machine.list.length > 0 ? '' : optionData.machine.search('') }">
          </model-list-select>
        </nut-form-item>

        <nut-form-item label="班组名称">
          <AutoComplete v-model="formSearch.sTeamName" placeholder="请输入班组名称" iconName="triangle-down"
            url="/comdict/machine/search">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="产品名称">
          <AutoComplete v-model="formSearch.sProductName" placeholder="请输入产品名称" url="/comdict/machine/search">
          </AutoComplete>
        </nut-form-item>
      </div>


      <nut-cell style="width: 100%;">
        <nut-button plain type="primary" @click="page.state.filterShow = !page.state.filterShow">筛选</nut-button>
        <nut-button style="width: 80%;" type="primary" @click="page.methods.formSearch">查询</nut-button>
      </nut-cell>
    </nut-form>

    <nut-list :list-data="formSearchData" @scroll-bottom="page.methods.handleScroll">
      <template v-slot="{ item, index }">
        <nut-cell>
          <table style="width: 100%;" @click="page.methods.to(item.sBillNo)">
            <tr>
              <th>登记单号：</th>
              <td>{{ item.sBillNo }}</td>
              <td colspan="2" style="text-align: center;"> {{ $filters.formatDate(item.tBillTime) }}</td>
            </tr>
            <tr>
              <th>工单号：</th>
              <td colspan="3">{{ item.sWorkOrderNo }}</td>
            </tr>
            <tr>
              <th>产品名称：</th>
              <td colspan="3">{{ item.sProductName }}</td>
            </tr>
            <tr>
              <th>工序名称：</th>
              <td>{{ item.sProcessName }}</td>
              <th>投入数：</th>
              <td>{{ item.dQty }}</td>
            </tr>
            <tr>
              <th>产出数：</th>
              <td>{{ item.dOutPutQty }}</td>
              <th>废品数：</th>
              <td>{{ item.dWasteQty }}</td>
            </tr>
          </table>
        </nut-cell>
      </template>
    </nut-list>

  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import { ModelListSelect } from "vue-search-select"
import { getList } from '@/api/workorder'
import { workCenter, machine, team, saleProduct } from '@/api/comdict'

const optionData = reactive({
  workCenter: {
    list: [],
    search: (searchText) => {
      workCenter.getByName({ current: 1, sName: searchText }).then((_res) => {
        optionData.workCenter.list = _res.records
      })
    }
  },
  machine: {
    list: [],
    search: (searchText) => {
      machine.getByName({ current: 1, sName: searchText }).then((_res) => {
        optionData.machine.list = _res.records
      })
    }
  },
  team: {
    list: [],
    search: (searchText) => {
      team.getByName({ current: 1, sName: searchText }).then((_res) => {
        optionData.team.list = _res.records
      })
    }
  },
  saleProduct: {
    list: [],
    search: (searchText) => {
      saleProduct.getByName({ current: 1, sName: searchText }).then((_res) => {
        optionData.saleProduct.list = _res.records
      })
    }
  },
})

const formSearch = reactive({
  pages: 1,
  searchValue: '1',
  tBillTimeStart: '2023-03-01',
  tBillTimeEnd: '2023-03-30',
  bAPP: '-1',
  sBillNo: null,
  sWorkOrderNo: null,
  uBarCode: '',
  sWorkCenterName: '',
  sMachineName: '',
  sTeamName: '',
  sProductID: '',
  sProductName: '',
  current: 1,
})
const formSearchData = ref([])
const calendar = reactive({
  isVisible: false,
  setChooseValue: param => {
    formSearch.tBillTimeStart = param[0][3]
    formSearch.tBillTimeEnd = param[1][3]
  }
})

onMounted(() => {
})

useDidShow(() => { })

const ruleForm = ref({})

const loadding = ref(false)
const page = reactive({
  state: {
    filterShow: false,
  },
  methods: {
    formSearch: () => {
      if (loadding.value) {
        return;
      }
      formSearch.current = 1
      formSearch.pages = 1
      formSearchData.value = []
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          console.log(formSearch)
          page.methods.loadInfo()
        } else {
          loadding.value = false;
        }
      })
    },
    handleScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadInfo()
    },
    loadInfo: () => {
      if (formSearch.current > formSearch.pages) {
        return;
      }
      loadding.value = true;
      getList(formSearch).then((_res) => {
        page.state.filterShow = false;
        formSearch.pages = _res.pages
        formSearchData.value = formSearchData.value.concat(_res.records)
        console.log(_res)
        formSearch.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
    to: (id) => {
      Taro.navigateTo({
        url: `pages/produce/workOrder/add/index?id=${id}`
      })
    },
    toAdd: () => {
      Taro.navigateTo({
        url: `pages/produce/workOrder/add/index`
      })
    },
    click: (event) => {

    },
    back: () => {
      Taro.navigateBack()
    }
  },
})
</script>

<style lang="scss" scoped>
th {
  text-align-last: justify;
}
</style>
