<template>
  <div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import { getList } from '@/api/workorder'


const formSearchData = reactive({
  searchValue: '',
  tBillTimeStart: '',
  tBillTimeEnd: '',
  bAPP: '',
  sBillNo: '',
  sWorkOrderNo: '',
  uBarCode: '',
  sWorkCenterName: '',
  sMachineName: '',
  sTeamName: '',
  sProductID: '',
  sProductName: '',
})

onMounted(() => {
})

useDidShow(() => { })

const ruleForm = ref({})

const loadding = ref(false)
const page = reactive({
  methods: {
    formSearch: () => {
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          loadding.value = false
          console.log(formSearchData)
          getList(formSearchData).then((_res) => {
            console.log(_res)
            Taro.navigateTo({
              url: '/pages/index',
            })
          })
        } else {
          loadding.value = false
        }
      })
    }
  },
})
</script>

<style lang="scss" scoped>
 th {
  text-align-last: justify;
 }
</style>
