<template>
  <div class="deliverywarn">
    <div>
    <nut-navbar @on-click-back="page.methods.back" title="订单交期预警">
      <template #left>
        <nut-icon name="rect-left"></nut-icon>
      </template>
    </nut-navbar>
    <nut-form :model-value="formSearchFilter" ref="ruleForm">
      <nut-form-item label="时间段" required class="date-icon">
        <nut-input max-length="64" @click="calendar.isVisible = true" class="value-placeholder"
          :placeholder="formSearchFilter.billTimeStart ? `${formSearchFilter.billTimeStart} 至 ${formSearchFilter.billTimeEnd}` : '请选择'"
          right-icon="date" right-icon-size="large" @click-right-icon="calendar.isVisible = true">
        </nut-input>
      </nut-form-item>
      <nut-calendar v-model:visible="calendar.isVisible"
        :default-value="[formSearchFilter.billTimeStart, formSearchFilter.billTimeEnd]" type="range"
        @close="calendar.isVisible = false" @choose="calendar.setChooseValue" :start-date="`1999-01-01`">
      </nut-calendar>

      <nut-form-item label="预警天数" required prop="warningDay" :rules="[
        { required: true, message: '请输入预警天数' },
        { regex: /^([0-9]+)$/, message: '请输入预警天数' },
      ]">
        <nut-input v-model="formSearchFilter.warningDay" max-length="24" placeholder="请输入预警天数" type="number">
        </nut-input>
      </nut-form-item>

      <div v-if="page.state.filterShow">
        <nut-form-item label="销售单号" class="scan-icon">
          <nut-input v-model="formSearchFilter.billNo" max-length="24" placeholder="可扫描/输入销售单号，模糊搜索" right-icon="scan2"
            right-icon-size="x-large">
          </nut-input>
        </nut-form-item>

        <nut-form-item label="客户PO号">
          <nut-input v-model="formSearchFilter.customerPO" max-length="24" placeholder="可输入工单号，模糊搜索">
          </nut-input>
        </nut-form-item>

        <nut-form-item label="合同编号">
          <nut-input v-model="formSearchFilter.contractNo" max-length="24" placeholder="可输入合同编号，精确搜索">
          </nut-input>
        </nut-form-item>

        <nut-form-item label="客户名称" prop="customerName">
          <AutoComplete v-model="formSearchFilter.customerName" url="/comdict/customer/search"></AutoComplete>
        </nut-form-item>

        <nut-form-item label="产品编码">
          <AutoComplete v-model="formSearchFilter.productID" url="/comdict/saleProduct/idsearch">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="产品名称">
          <AutoComplete v-model="formSearchFilter.productName" url="/comdict/saleProduct/search"></AutoComplete>
        </nut-form-item>

        <nut-form-item label="产品分类">
          <AutoComplete v-model="formSearchFilter.productClassName" url="/comdict/saleProductClass/search"
            iconName="triangle-down"></AutoComplete>
        </nut-form-item>

        <nut-form-item label="销售人员">
          <AutoComplete v-model="formSearchFilter.salespersonNam" url="/comdict/employee/search" iconName="triangle-down">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="跟单人员">
          <AutoComplete v-model="formSearchFilter.merchandiserName" url="/comdict/employee/search"
            iconName="triangle-down"></AutoComplete>
        </nut-form-item>
        <nut-form-item></nut-form-item>
      </div>
      <nut-form-item></nut-form-item>
    </nut-form>
  </div>
    <div v-if="page.state.queryDataShow" style="max-height: fit-content !important;overflow: hidden;">
      <nut-list style="margin-bottom: 20px;" :listData="formSearchData" @scroll-bottom="page.methods.handleScroll">
        <template v-slot="{ item, index }">
          <view style="display:flow-root; background-color:#E8E8E8;border-radius: 6px;margin-bottom: 5px;">
            <nut-cell style="background-color:#E8E8E8; box-shadow: 0px 0px 0px 0px rgb(237, 238, 241); ">
              <table style="width: 100%;">
                <tr>
                  <div>
                    <span class="t-span1">销售单号：</span>
                    <span class="t-span2">{{ item.billNo }}</span>
                    <span class="t-span1"> {{ $filters.formatDate(item.billTime) }}</span>
                  </div>
                </tr>
                <tr>
                  <div>
                    <span class="t-span1">客户名称：</span>
                    <span class="t-span3">{{ item.customerName }}</span>
                  </div>
                </tr>
                <tr>
                  <div>
                    <span class="t-span1">销售人员：</span>
                    <span class="t-span1">{{ item.salespersonName }}</span>
                    <span class="t-span1">跟单员：</span>
                    <span class="t-span1">{{ item.merchandiserName }}</span>
                  </div>
                </tr>
              </table>
            </nut-cell>
            <nut-cell v-for="product in item.productList" style="border-radius: 0;">
              <table style="width: 100%;">
                <tr>
                  <div>
                    <span class="t-span1">产品名称：</span>
                    <span class="t-span3">{{ product.productName }}</span>
                  </div>
                </tr>
                <tr>
                  <div>
                    <span class="t-span1">基本数量：</span>
                    <span class="t-span1">{{ product.basicQty }}</span>
                    <span class="t-span1">交期：</span>
                    <span class="t-span1">{{ $filters.formatDate(product.deliveryTime) }}</span>
                  </div>
                </tr>
                <tr>
                  <div>
                    <span class="t-span1">待送数量：</span>
                    <span class="t-span1">{{ product.noDeliveryQty }}</span>
                    <span class="t-span1">预警天数：</span>
                    <span class="t-span1 td-warningday-green" v-if="product.warningDay > 3">{{ product.warningDay
                    }}</span>
                    <span class="t-span1 td-warningday-yellow"
                      v-if="product.warningDay >= 0 && product.warningDay <= 3">{{ product.warningDay }}</span>
                    <span class="t-span1 td-warningday-red" v-if="product.warningDay < 0">{{ product.warningDay }}</span>
                  </div>
                </tr>
              </table>
            </nut-cell>
          </view>
        </template>
      </nut-list>

    </div>
    <nut-cell class="footer_button" v-if="!page.state.filterShow">
      <nut-row>
        <nut-col :span="12">
          <nut-button shape="square" plain type="primary" @click="page.methods.filterOk">筛选</nut-button>
        </nut-col>
        <nut-col :span="12" align="right">
          <nut-button type="primary" @click="page.methods.formSearch">查询</nut-button>
        </nut-col>
      </nut-row>
    </nut-cell>
    <nut-cell class="footer_button" v-if="page.state.filterShow">
      <nut-row>
        <nut-col align="right">
          <nut-button type="primary" @click="page.methods.queryOk">确定</nut-button>
        </nut-col>
      </nut-row>
    </nut-cell>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import { getDeliveryWarnList } from '@/api/sale'
import moment from 'moment'

const nowDate = moment(new Date()).format('YYYY-MM-DD')

console.log(nowDate)
const formSearchFilter = reactive({
  billTimeStart: nowDate.substring(0, 8) + '01',
  billTimeEnd: nowDate,
  warningDay: '3',
  billNo: null,
  customerPO: null,
  contractNo: null,
  customerName: null,
  productID: null,
  productName: null,
  productClassName: null,
  salespersonNam: null,
  merchandiserName: null,
  pages: 1,
  current: 1,
})
const formSearchData = ref([])
const calendar = reactive({
  isVisible: false,
  setChooseValue: param => {
    formSearchFilter.billTimeStart = param[0][3]
    formSearchFilter.billTimeEnd = param[1][3]
  }
})

onMounted(() => {
})

useDidShow(() => {
})

const ruleForm = ref({})

const loadding = ref(false)
const page = reactive({
  state: {
    filterShow: false,
    queryDataShow: false,
  },
  methods: {
    formSearch: () => {
      page.methods.queryOk()
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          formSearchFilter.current = 1
          formSearchFilter.pages = 1
          console.log(formSearchFilter)
          page.methods.loadInfo()
        } else {
          loadding.value = false;
        }
      })
    },
    queryOk: () => {
      formSearchData.value = [];
      page.state.filterShow = false;
      page.state.queryDataShow = true;
    },
    filterOk: () => {
      page.state.filterShow = true;
      page.state.queryDataShow = false;
    },
    back: () => {
      if (page.state.filterShow) {
        page.state.filterShow = false;
      } else {
        Taro.navigateTo({
          url: `pages/sale/index`
        })
      }
    },
    handleScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadInfo()
    },
    loadInfo: () => {
      if (formSearchFilter.current > formSearchFilter.pages) {
        return;
      }
      loadding.value = true;
      getDeliveryWarnList(formSearchFilter).then((_res) => {
        console.log('111')
        formSearchFilter.pages = _res.pages
        formSearchData.value = formSearchData.value.concat(_res.records)
        formSearchFilter.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
  },
})
</script>

<style lang="scss">
.deliverywarn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  .nut-list-container {
    padding-bottom: 44vw;
  }

  tr {
    display: block;
    margin: 5px 0;
  }

  tr div {
    display: flex;
  }

  tr .t-span1 {
    width: 24%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-span2 {
    width: 48%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-span3 {
    width: 72%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-span4 {
    width: 96%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .footer_button {
    position: fixed;
    bottom: 0;
  }

  .td-warningday-green {
    color: #078654;
  }

  .td-warningday-red {
    color: #C21C13;
  }

  .td-warningday-yellow {
    color: #D1A300;
  }

  .scan-icon .nut-icon {
    color: #195ED7;
  }

  .date-icon {
    display: flex;

    .nut-icon {
      padding-right: 12cqw;
    }
  }
}
</style>