<template>
  <div v-if="page.state.showTodo">
    <nut-navbar title="">
      <template #left>
        <span style="color: black;">请选择工单工序</span>
      </template>
      <template #right>
        <nut-button size="mini" shape="square" type="primary" @click="page.state.showTodo = false">取消</nut-button>
      </template>
    </nut-navbar>
    <nut-form :model-value="formSearch" ref="formSearchRule">
      <nut-form-item label="工单号" prop="sBillNo">
        <nut-input max-length="64" v-model="formSearch.sBillNo"
          placeholder="可扫描/输入登记单号，模糊搜索"
          right-icon="search"
          @change="page.methods.loadInfoNew"
          clearable />
      </nut-form-item>

    </nut-form>
    <nut-list :list-data="formSearchData" @scroll-bottom="page.methods.handleScroll">
      <template v-slot="{ item, index }">
        <nut-cell @click="page.methods.handleSelect(index)">
          <table style="width: 100%;" class="produce">
            <tr>
              <th>工单号：</th>
              <td colspan="3">{{ item.sBillNo }}</td>
            </tr>
            <tr>
              <th>产品名称：</th>
              <td colspan="3">{{ item.sProductName }}</td>
            </tr>
            <tr>
              <th>部件名称：</th>
              <td colspan="3">{{ item.sPartName }}</td>
            </tr>
            <tr>
              <th>工序名称：</th>
              <td>{{ item.sProcessName }}</td>
              <th>投入数：</th>
              <td>{{ item.dNoReportQty }}</td>
            </tr>
          </table>
        </nut-cell>
      </template>
    </nut-list>
  </div>

    <div v-else-if="page.state.showUser">
        <nut-navbar style="background-color: #E8E8E8;">
          <template #left>
            <view class="left-title">请选择员工</view>
          </template>
          <template #right>
            <nut-button size="mini" shape="square" type="primary" @click="page.methods.showTask">取消</nut-button>
          </template>
        </nut-navbar>

        <nut-form :model-value="formUserSearch">
          <nut-form-item label="员工名称" prop="sName" style="display: flex;">
            <nut-input max-length="24" v-model="formUserSearch.sName" placeholder="输入员工名称，自动模糊搜索"
              @change="page.methods.loadUserNew" />
          </nut-form-item>
        </nut-form>

        <nut-list :list-data="formSearchUserData" style="margin-bottom: 5cqh;"
          @scroll-bottom="page.methods.handleUserScroll">
          <template v-slot="{ item, index }">
            <nut-cell>
              <table style="width: 100%;">
                <tr>
                  <th>员工工号：</th>
                  <td>{{ item.sEmployeeID }}</td>
                  <th>员工名称：</th>
                  <td>{{ item.sEmployeeName }}</td>
                  <td>
                    <nut-checkbox v-model="item.bCheck" @change="page.methods.selectUser(item)">
                    </nut-checkbox>
                  </td>
                </tr>
              </table>
            </nut-cell>
          </template>
        </nut-list>
        <nut-cell class="footer_button">
          <nut-row>
            <nut-col align="right">
              <nut-button size="mini" shape="square" type="primary" @click="page.methods.selectUserOk">选择</nut-button>
            </nut-col>
          </nut-row>
        </nut-cell>
      </div>
    <div v-else>
      <nut-navbar @on-click-back="page.methods.back" title="工单报工">
        <template #left>
          <nut-icon name="rect-left"></nut-icon>
        </template>
        <template #right>
          <nut-button size="mini" shape="square" type="primary" @click="page.state.showTodo = true">选择待办</nut-button>
        </template>
      </nut-navbar>
      <nut-form  :model-value="formData" ref="ruleForm">
        <nut-form-item label="登记单号" prop="sBillNo">
          <input class="nut-input-text" v-model="formData.sBillNo" maxlength="24" placeholder="自动生成" type="text" />
        </nut-form-item>

        <nut-cell style="padding: unset;">
          <nut-form-item label="工作中心">
            <input class="nut-input-text" v-model="formData.sMachineName" maxlength="24" placeholder="默认上次数" type="text" />
          </nut-form-item>

          <nut-form-item label="机台名称">
            <input class="nut-input-text" v-model="formData.sMachineName" maxlength="24" placeholder="默认上次数" type="text" />
          </nut-form-item>
        </nut-cell>

        <nut-form-item label="条码">
          <input class="nut-input-text" maxlength="24" placeholder="可扫描工单工序码条码，手机/PDA" type="text" />
        </nut-form-item>

        <nut-form-item label="工单号" prop="sWorkCenterName">
          <input class="nut-input-text" v-model="formData.sBillNo" maxlength="24" placeholder="选择代办/扫码自带" type="text" />
        </nut-form-item>

        <nut-form-item label="产品名称">
          <input class="nut-input-text" v-model="formData.sProductName" maxlength="24" placeholder="选择代办/扫码自带" type="text" />
        </nut-form-item>

        <nut-form-item label="部件名称">
          <input class="nut-input-text" v-model="formData.sPartName" maxlength="24" placeholder="选择代办/扫码自带" type="text" />
        </nut-form-item>

        <nut-cell style="padding: unset;">
          <nut-form-item label="工序名称">
            <input class="nut-input-text" v-model="formData.sProcessName" maxlength="24" placeholder="选择代办/扫码自带" type="text" />
          </nut-form-item>

          <nut-form-item label="待报产数">
            <input class="nut-input-text" v-model="formData.dNoReportQty" maxlength="24" placeholder="自动携带" type="text" />
          </nut-form-item>
        </nut-cell>

        <nut-cell style="padding: unset;">
          <nut-form-item label="计数方式">
            <!-- <input class="nut-input-text" v-model="formData.sCountType" maxlength="24" placeholder="按班组技数" type="text" /> -->
            <AutoComplete v-model="formData.sCountType" placeholder="" iconName="triangle-down"
              url="/comdict/systemoption/search?dictCode=DCountType" @select="page.methods.selectCountType">
            </AutoComplete>
          </nut-form-item>

          <nut-form-item label="投入数">
            <input class="nut-input-text" v-model="formData.dInPutQty" maxlength="24" placeholder="按班组报产" type="text" />
          </nut-form-item>

        </nut-cell>

        <nut-cell style="padding: unset;">
          <nut-form-item label="废品数">
            <input class="nut-input-text" v-model="formData.dWasteQty" maxlength="24" placeholder="手动输入" type="text" />
          </nut-form-item>

          <nut-form-item label="产出数">
            <input class="nut-input-text" v-model="formData.dOutPutQty" maxlength="24" placeholder="投入数-废品数" type="text" />
          </nut-form-item>
        </nut-cell>
        <nut-cell style="padding: unset;align-items: center;">
          <nut-form-item label="班组名称">
            <AutoComplete v-model="formData.sTeamName" placeholder="请输入班组名称" iconName="triangle-down"
              url="/comdict/team/search">
            </AutoComplete>
          </nut-form-item>
          <nut-icon class="scan-icon2" name='scan2' size="x-large"></nut-icon>
          <nut-form-item style="width: 36%;">
            <nut-button size="mini" shape="square" type="primary" @click="page.methods.showUser">选择员工</nut-button>
          </nut-form-item>
        </nut-cell>
      </nut-form>

      <nut-list :list-data="userTaskData">
        <template v-slot="{ item, index }">
          <nut-swipe>
            <nut-cell round-radius="0" @click="page.methods.editUserTask(item)">
              <table style="width: 100%;">
                <tr>
                  <th>员工工号：</th>
                  <td colspan="2">{{ item.sEmployeeID }}</td>
                  <th>员工名称：</th>
                  <td colspan="2">{{ item.sEmployeeName }}</td>
                </tr>
                <tr>
                  <th>投入数：</th>
                  <td>{{ item.dQty }}</td>
                  <th>废品数：</th>
                  <td>{{ item.dWasteQty }}</td>
                  <th>产出数：</th>
                  <td>{{ item.dOutPutQty }}</td>
                </tr>
              </table>
            </nut-cell>
            <template #right>
              <nut-button shape="square" style="height:100%" type="danger">删除</nut-button>
            </template>
          </nut-swipe>
        </template>
      </nut-list>

      <nut-cell style="bottom: -3vw;position: fixed;">
        <nut-row>
          <nut-col :span="12">
            <nut-button>取 消</nut-button>
          </nut-col>
          <nut-col :span="12" align="right" >
            <nut-button type="primary" >保 存</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
    </div>

</template>

<script lang="ts" setup>
import { ref, onMounted, reactive, watch } from 'vue'
import { useDidShow } from '@tarojs/taro'
import  Taro from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import _ from 'lodash'
import { getList, getListTodo,getUserInfo } from '@/api/workorder'




const formData = ref({
  searchValue: '',
  tBillTimeStart: '',
  tBillTimeEnd: '',
  bAPP: '',
  sBillNo: '',
  sWorkOrderNo: '',
  uBarCode: '',
  sWorkCenterName: '',
  sMachineName: '',
  sTeamName: '',
  sProductID: '',
  sProductName: '',
})
const userTask = {
  sEmployeeID: null,
  sEmployeeName: null,
  sDepartmentID: null,
  sDepartmentName: null,
  sPositionID: null,
  sPositionName: null,
  dQty: null,
  dWasteQty: null,
  dOutPutQty: null,
  iOrder: null
}

const formSearchUserData = ref([])
const selectUserData = reactive(new Map([]))
const userTaskData = ref([])
const formUserSearch = reactive({
  sName: null,
  current: 1,
  pages: 1,
})

const formSearchData = ref([])
const formSearch = reactive({
  sBillNo: '',
  current: 1,
  pages: 1,
})

onMounted(() => {
  page.methods.loadInfo()
})

useDidShow(() => { })

const ruleForm = ref({})

const loadding = ref(false)

const page = reactive({
  state: {
    showTodo: true,
    showTask: false,
    showUser: false,
    showUserTask: false
  },
  methods: {
    showUser: () => {
      page.state.showTodo = false
      page.state.showTask = false
      selectUserData.clear()
      page.methods.loadUserNew()
      page.state.showUser = true
    },
    showTask: () => {
      page.state.showTodo = false
      page.state.showTask = true
      page.state.showUser = false
    },
    formSearch: () => {
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          loadding.value = false
          console.log(formData)
          getList(formData).then((_res) => {
            console.log(_res)
          })
        } else {
          loadding.value = false
        }
      })
    },
    handleScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadInfo()
    },
    handleSelect: (idx) => {
      page.state.showTodo = false
      formData.value = formSearchData.value[idx]
      console.log(formData.value)
    },
    loadInfoNew : _.debounce(() => {
      formSearch.current = 1
      formSearch.pages = 1
      formSearchData.value = []
      page.methods.loadInfo()
    }, 550),
    loadInfo: () => {
      if (formSearch.current > formSearch.pages) {
        return;
      }
      loadding.value = true;
      getListTodo(formSearch).then((_res) => {
        formSearch.pages = _res.pages
        formSearchData.value = formSearchData.value.concat(_res.records)
        console.log(_res)
        formSearch.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
    loadUserNew: _.debounce(() => {
      formUserSearch.current = 1
      formUserSearch.pages = 1
      formSearchUserData.value = []
      page.methods.loadUser()
    }, 550),
    loadUser: () => {
      if (formUserSearch.current > formUserSearch.pages) {
        return;
      }
      loadding.value = true;
      getUserInfo(formUserSearch).then((_res) => {
        formUserSearch.pages = _res.pages
        formSearchUserData.value = formSearchUserData.value.concat(_res.records)
        formUserSearch.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
    handleUserScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadUser()
    },
    selectUser: (user) => {
      const bCheck = user.bCheck
      const sID = user.sEmployeeID
      if (bCheck) {
        if (!selectUserData.has(sID)) {
          selectUserData.set(sID, user)
        }
      } else {
        if (selectUserData.has(sID)) {
          selectUserData.delete(sID)
        }
      }
      console.log(selectUserData)
    },
    selectUserOk: () => {
      userTaskData.value = []
      for (const [key, value] of selectUserData) {
        let newUserTask = {};
        Object.assign(newUserTask, userTask)
        fillParams(newUserTask, value)
        userTaskData.value.push(newUserTask)
      }
      page.methods.showTask()
    },
    back: () => {
      Taro.navigateBack()
    }
  },
})

function fillParams(targetObject, sourceObject) {
  console.log("before", JSON.stringify(targetObject))

  if (sourceObject) {
    for (const [tkey, tvalue] of Object.entries(targetObject)) {
      for (const [skey, svalue] of Object.entries(sourceObject)) {
        if (tkey === skey) {
          targetObject[tkey] = svalue
          break
        }
      }
    }
  } else {
    for (const [tkey, tvalue] of Object.entries(targetObject)) {
      targetObject[tkey] = ''
    }
  }
  console.log("after", JSON.stringify(targetObject))
}
watch(
  () => page.state.showTodo,
  (count, prevCount) => {
    page.methods.loadInfoNew()
  }
)
</script>

<style lang="scss" scoped>
.produce {
  th {
  width: 30%;
  text-align-last: justify;
  }
  td {
    width: 40%
  }
}
.footer_button {
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  z-index: 1000;
}
.nut-button--mini {
  padding: 0px 2vw;
}
:deep .nut-navbar__title {
    min-width: auto !important;
}

.nut-navbar__left {
  span {
    width: max-content;
  }
}
</style>
