<template>
  <div class="amounttrend">
    <div>
    <nut-navbar @on-click-back="page.methods.back" :title="$t('lyapp.saletop.salesTrend')">
      <template #left>
        <nut-icon name="rect-left"></nut-icon>
      </template>
    </nut-navbar>
    <nut-form :model-value="formSearchFilter" ref="ruleForm">
      <nut-form-item :label="$t('lyapp.share.queryDate')" required>
        <nut-row>
          <nut-col :span="12" class="row-col-input">
            <nut-input v-model='formSearchFilter.billTimeStart' right-icon="date" @click="page.state.startShow = true"
              @click-right-icon="page.state.startShow = true"></nut-input>
          </nut-col>
          <nut-col :span="12" class="row-col-input">
            <nut-input v-model='formSearchFilter.billTimeEnd' right-icon="date" @click="page.state.endShow = true"
              @click-right-icon="page.state.endShow = true"></nut-input>
          </nut-col>
        </nut-row>
      </nut-form-item>
      <nut-datepicker type="year-month" @confirm="page.methods.startConfirm" v-model="defaultStart"
        v-model:visible="page.state.startShow"></nut-datepicker>
      <nut-datepicker type="year-month" @confirm="page.methods.endConfirm" v-model="defaultEnd"
        v-model:visible="page.state.endShow"></nut-datepicker>

      <div v-if="page.state.filterShow">
        <nut-form-item :label="$t('lyapp.share.customerName')" prop="customerName">
          <AutoComplete v-model="formSearchFilter.customerName" url="/comdict/customer/search"></AutoComplete>
        </nut-form-item>

        <nut-form-item :label="$t('lyapp.share.productCategory')" prop="productClassName">
          <AutoComplete v-model="formSearchFilter.productClassName" url="/comdict/saleProductClass/search"
            iconName="triangle-down">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item :label="$t('lyapp.share.department')" prop="departmentName">
          <AutoComplete v-model="formSearchFilter.departmentName" url="/comdict/organization/search"
            iconName="triangle-down">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item :label="$t('lyapp.share.salesPerson')" prop="salespersonNam">
          <AutoComplete v-model="formSearchFilter.salespersonNam" url="/comdict/employee/search" iconName="triangle-down">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item :label="$t('lyapp.share.documentaryPerson')" prop="merchandiserName">
          <AutoComplete v-model="formSearchFilter.merchandiserName" url="/comdict/employee/search"
            iconName="triangle-down">
          </AutoComplete>
        </nut-form-item>
        <nut-form-item></nut-form-item>
      </div>
    </nut-form>
  </div>
    <div v-if="page.state.queryDataShow" style="max-height: fit-content !important;overflow: hidden;">
      <div ref="vueChartsPhoto" style="height:290px;width: 98%;"></div>
      <nut-list :listData="formSearchData">
        <template v-slot="{ item, index }">
          <nut-cell class="cell-table">
            <table style="width: 100%;">
              <tr>
                <div>
                  <span class="t-span2">{{ item.month }}</span>
                  <span class="t-span2">{{ item.monthMoney }} {{ $t('lyapp.unit.millionYuan') }}</span>
                </div>
              </tr>
            </table>
          </nut-cell>

        </template>
      </nut-list>

    </div>
    <nut-cell class="footer_button" v-if="!page.state.filterShow">
      <nut-row>
        <nut-col :span="12">
          <nut-button shape="square" plain type="primary" @click="page.methods.filterOk">{{ $t('lyapp.button.filter') }}</nut-button>
        </nut-col>
        <nut-col :span="12" align="right">
          <nut-button type="primary" @click="page.methods.formSearch">{{ $t('lyapp.button.query') }}</nut-button>
        </nut-col>
      </nut-row>
    </nut-cell>
    <nut-cell class="footer_button" v-if="page.state.filterShow">
      <nut-row>
        <nut-col align="right">
          <nut-button type="primary" @click="page.methods.queryOk">{{ $t('lyapp.button.ok') }}</nut-button>
        </nut-col>
      </nut-row>
    </nut-cell>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive, onUpdated } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import { getAmountTrendList } from '@/api/sale'
import * as echarts from 'echarts'
import moment from 'moment'

const nowDate = moment(new Date()).format('YYYY-MM')
const defaultStart = ref(moment(nowDate.substring(0, 5) + '01-01', 'YYYY-MM-DD').toDate())
const defaultEnd = ref(moment(nowDate + '-01', 'YYYY-MM-DD').toDate())
const formSearchFilter = reactive({
  billTimeStart: nowDate.substring(0, 5) + '01',
  billTimeEnd: nowDate,
  customerName: null,
  productName: null,
  productClassName: null,
  salespersonNam: null,
  merchandiserName: null,
  departmentName: null,
})
const formSearchData = ref([])

const vueChartsPhoto = ref()

onMounted(() => {

})

onUpdated(() => {

})

const dataZoom = [{ // 这是滚动条插件  可以是Y轴 也可以是X轴
  type: 'inside',
  start: 0,
  end: 100
}, {
  start: 0,
  end: 100
}
]

const echartsTitle = ref([])
const echartsData = ref([])
function drowImage() {
  // 基于准备好的dom，初始化echarts实例
  if (vueChartsPhoto.value) {
    let myChart = echarts.getInstanceByDom(vueChartsPhoto.value)
    if (myChart == null) {
      myChart = echarts.init(vueChartsPhoto.value);
    }
    // 指定图表的配置项和数据
    let option = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        },
        formatter: function (params) {
          var relVal = params[0].name
          relVal += '<br/>' + `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#00CBFF;"></span>` + params[0].seriesName + ' : ' + params[0].value + '万元'
          return relVal
        },
      },
      dataZoom: dataZoom,
      grid: {
        top: '3%',
        left: '1%',
        right: '1%',
        bottom: '15%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          boundaryGap: false,
          data: echartsTitle.value
        }
      ],
      yAxis: [
        {
          type: 'value',
          axisLabel: {
            formatter: "{value}",
          }
        }
      ],
      series: [
        {
          name: '销售额',
          type: 'line',
          stack: 'Total',
          areaStyle: {},
          emphasis: {
            focus: 'series'
          },
          data: echartsData.value
        }
      ]
    }
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    window.addEventListener("resize", () => {
      this.myChart.resize();
    })
  }

}

useDidShow(() => {
})

const ruleForm = ref({})

const loadding = ref(false)
const page = reactive({
  state: {
    filterShow: false,
    queryDataShow: false,
    startShow: false,
    endShow: false,
  },
  methods: {
    formSearch: () => {
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          formSearchData.value = []
          echartsTitle.value = []
          echartsData.value = []
          page.state.filterShow = false
          page.state.queryDataShow = true
          loadding.value = true
          getAmountTrendList(formSearchFilter).then((_res) => {
            const responseList = _res
            formSearchData.value = responseList
            for (let i = 0; i < responseList.length; i++) {
              const item = responseList[i]
              echartsTitle.value.push(item.month)
              echartsData.value.push(item.monthMoney)
            }
            drowImage()
          }).finally(() => {
            loadding.value = false
          })
        } else {
          loadding.value = false;
        }
      })
    },
    queryOk: () => {
      formSearchData.value = [];
      page.state.filterShow = false;
      page.state.queryDataShow = false;
    },
    filterOk: () => {
      page.state.filterShow = true;
      page.state.queryDataShow = false;
    },
    back: () => {
      if (page.state.filterShow) {
        page.state.filterShow = false;
      } else {
        Taro.navigateTo({
          url: `pages/sale/index`
        })
      }
    },
    startConfirm: ({ selectedValue, selectedOptions }) => {
      formSearchFilter.billTimeStart = selectedValue.join('-');
    },
    endConfirm: ({ selectedValue, selectedOptions }) => {
      formSearchFilter.billTimeEnd = selectedValue.join('-');
    },
  },
})
</script>

<style lang="scss">
.amounttrend {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  .nut-list-container {
    padding-bottom: 120%;
  }

  tr {
    display: block;
    margin: 5px 0;
  }

  tr div {
    display: flex;
  }

  tr .t-span2 {
    width: 48%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .footer_button {
    position: fixed;
    bottom: 0;
  }

  .td-warningday-green {
    color: #078654;
  }

  .td-warningday-red {
    color: #C21C13;
  }

  .td-warningday-yellow {
    color: #D1A300;
  }

  .row-col-input .nut-input {
    padding: 0;
    border: 0;
  }

  .row-col-input .nut-input .nut-icon {
    padding-right: 10cqw;
  }

  .cell-table {
    box-shadow: 0px 1px 20px 20px rgb(237, 238, 241);
  }
}
</style>

