@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698136670095') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danxuan:before {
  content: "\e71f";
}

.icon-fangxingweixuanzhong:before {
  content: "\e720";
}

.icon-fangxingxuanzhong:before {
  content: "\e722";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-yuanxingxuanzhong:before {
  content: "\e731";
}

.icon-pengyoufill:before {
  content: "\e745";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-shezhi:before {
  content: "\e74c";
}

.icon-shouyefill:before {
  content: "\e750";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-tongzhifill:before {
  content: "\e758";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-wodefill:before {
  content: "\e75d";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-xinxifill:before {
  content: "\e762";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-yonghufill:before {
  content: "\e787";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-mima:before {
  content: "\e62a";
}

.icon-huangguan:before {
  content: "\e642";
}

.icon-fuxuankuangkong:before {
  content: "\e611";
}

.icon-fuxuankuang:before {
  content: "\e62e";
}

.icon-mima1:before {
  content: "\e850";
}

.icon-no:before {
  content: "\e636";
}

.icon-huangguan1:before {
  content: "\e61f";
}

