<template>
  <div>
    <nut-navbar @on-click-back="page.methods.back" title="销售管理">
      <template #left>
        <nut-icon name="rect-left"></nut-icon>
      </template>
    </nut-navbar>
    <nut-grid>
      <nut-grid-item icon="jdl" text="销售订单"></nut-grid-item>
      <nut-grid-item icon="eye" text="发货通知"></nut-grid-item>
      <nut-grid-item icon="shop" text="客户档案"></nut-grid-item>
      <nut-grid-item icon="cart" text="产品档案"></nut-grid-item>
      <nut-grid-item icon="people" text="产品备货订单"></nut-grid-item>
    </nut-grid>
    <nut-divider />
    <nut-grid>
      <nut-grid-item icon="jdl" text="物料销售订单"></nut-grid-item>
      <nut-grid-item icon="eye" text="物料发货通知"></nut-grid-item>
    </nut-grid>
    <nut-divider />
    <nut-grid>
      <nut-grid-item icon="jdl" text="打样申请"></nut-grid-item>
      <nut-grid-item icon="eye" text="打样发货"></nut-grid-item>
      <nut-grid-item icon="shop" text="打样回执"></nut-grid-item>
    </nut-grid>
    <nut-divider />
    <nut-grid>
      <nut-grid-item icon="jdl" text="销售排行榜" icon-color="#195ED7" @click="page.methods.to('/pages/sale/saleranktop/index')"></nut-grid-item>
      <nut-grid-item icon="eye" text="销售统计查询"></nut-grid-item>
      <nut-grid-item icon="shop" text="销售进度查询"></nut-grid-item>
      <nut-grid-item icon="cart" text="订单交期预警" icon-color="#195ED7" @click="page.methods.to('/pages/sale/deliverywarn/index')"></nut-grid-item>
      <nut-grid-item icon="people" text="销售额走势" icon-color="#195ED7" @click="page.methods.to('/pages/sale/amounttrend/index')"></nut-grid-item>
    </nut-grid>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'

onMounted(() => {

})

useDidShow(() => {})

const loadding = ref(false)
const page = reactive({
  methods: {
    to: (url) => {
      Taro.navigateTo({
        url: url,
      })
    },
    back: () => {
      Taro.navigateTo({
        url: `pages/index`
      })
    }
  },
})
</script>

<style lang="scss" scoped></style>
