<template>
  <div class="saleranktop">
    <nut-navbar @on-click-back="page.methods.back" title="销售排行榜">
      <template #left>
        <nut-icon name="rect-left"></nut-icon>
      </template>
    </nut-navbar>
    <nut-form :model-value="formSearchFilter" ref="ruleForm">
      <nut-form-item label="时间段" required class="date-icon">
        <nut-input max-length="64" @click="calendar.isVisible = true" class="value-placeholder"
          :placeholder="formSearchFilter.billTimeStart ? `${formSearchFilter.billTimeStart} 至 ${formSearchFilter.billTimeEnd}` : '请选择'"
          right-icon="date" right-icon-size="large" @click-right-icon="calendar.isVisible = true">
        </nut-input>
      </nut-form-item>

      <nut-calendar v-model:visible="calendar.isVisible"
        :default-value="[formSearchFilter.billTimeStart, formSearchFilter.billTimeEnd]" type="range"
        @close="calendar.isVisible = false" @choose="calendar.setChooseValue" :start-date="`1999-01-01`">
      </nut-calendar>

      <nut-form-item label="统计维度">
        <nut-row>
          <nut-col :span="24" @click="() => { show = true; }" style="text-align: right;">
            {{ desc }}&nbsp;&nbsp;
          </nut-col>
        </nut-row>
      </nut-form-item>

      <nut-picker v-model:visible="show" :columns="statisticsColumns" title="统计维度"
        @confirm="(event) => confirm(event, 'statistics')">
      </nut-picker>
      <div v-if="page.state.filterShow">
        <nut-form-item label="部门" prop="sDepartmentName">
          <AutoComplete v-model="formSearchFilter.sDepartmentName" url="/comdict/organization/search"
            iconName="triangle-down"></AutoComplete>
        </nut-form-item>
        <nut-form-item label="客户分类" prop="sCustomerClassFullName">
          <AutoComplete v-model="formSearchFilter.sCustomerClassFullName" url="/comdict/customerfile/search"
            iconName="triangle-down"></AutoComplete>
        </nut-form-item>
        <nut-form-item label="产品分类" prop="sProductClassName">
          <AutoComplete v-model="formSearchFilter.sProductClassName" url="/comdict/saleProductClass/search"
            iconName="triangle-down"></AutoComplete>
        </nut-form-item>
        <nut-form-item></nut-form-item>
      </div>
      <nut-form-item></nut-form-item>
    </nut-form>


    <div v-if="page.state.queryDataShow">
      <nut-grid :column-num="3" square v-if="saleTop3.length > 0">
        <nut-grid-item style="width: 100%;" v-if="saleTop3.length > 1">
          <nut-badge top="-15%" right="33%" class="badge-top2"
            style="width: 100%;text-align: center;align-items: center;">
            <template #icons>
              <div style="width: 28px;height: 28px;"></div>
            </template>
            <nut-avatar size="large" color="rgb(245, 106, 0)" bg-color="rgb(253, 227, 207)">{{
              saleTop3[1].sGroupDimension[0] }}</nut-avatar>
            <div class="top2-font-size">{{ saleTop3[1].sGroupDimension }}</div>
            <div class="top2-font-size">{{ saleTop3[1].dOMoneyTotal }}</div>
          </nut-badge>
        </nut-grid-item>
        <nut-grid-item style="width: 100%;" v-if="saleTop3.length > 0">
          <nut-badge top="-15%" right="33%" class="badge-top1"
            style="width: 100%;text-align: center;align-items: center;">
            <template #icons>
              <div style="width: 28px;height: 28px;"></div>
            </template>
            <nut-avatar size="large" color="rgb(245, 106, 0)" bg-color="rgb(253, 227, 207)">{{
              saleTop3[0].sGroupDimension[0] }}</nut-avatar>
            <div class="top1-font-size">{{ saleTop3[0].sGroupDimension }}</div>
            <div class="top1-font-size">{{ saleTop3[0].dOMoneyTotal }}</div>
          </nut-badge>
        </nut-grid-item>
        <nut-grid-item style="width: 100%;" v-if="saleTop3.length > 2">
          <nut-badge top="-15%" right="33%" class="badge-top3"
            style="width: 100%;text-align: center;align-items: center;">
            <template #icons>
              <div style="width: 28px;height: 28px;"></div>
            </template>
            <nut-avatar size="large" color="rgb(245, 106, 0)" bg-color="rgb(253, 227, 207)">{{
              saleTop3[2].sGroupDimension[0] }}</nut-avatar>
            <div class="top3-font-size">{{ saleTop3[2].sGroupDimension }}</div>
            <div class="top3-font-size">{{ saleTop3[2].dOMoneyTotal }}</div>
          </nut-badge>
        </nut-grid-item>
      </nut-grid>
      <nut-list :listData="saleTopOther" @scroll-bottom="page.methods.handleScroll">
        <template v-slot="{ item, index }">
          <nut-cell>
            <div style="width: 100%;display: flex;align-items: center;">
              <span class="t-span1">{{ index + 4 }}</span>
              <span class="t-span-icon"><nut-badge>
                <nut-avatar size="small" color="rgb(245, 106, 0)" bg-color="rgb(253, 227, 207)">{{ item.sGroupDimension[0]
                }}</nut-avatar>
              </nut-badge>
            </span>

              <span class="t-span2">{{ item.sGroupDimension }}</span>
              <span class="t-span3">{{ item.dOMoneyTotal }} 元</span>
            </div>
          </nut-cell>
        </template>
      </nut-list>

    </div>
    <nut-cell class="footer_button" v-if="!page.state.filterShow">
      <nut-row>
        <nut-col :span="12">
          <nut-button shape="square" plain type="primary" @click="page.methods.filterOk">筛选</nut-button>
        </nut-col>
        <nut-col :span="12" align="right">
          <nut-button type="primary" @click="page.methods.formSearch">查询</nut-button>
        </nut-col>
      </nut-row>
    </nut-cell>
    <nut-cell class="footer_button" v-if="page.state.filterShow">
      <nut-row>
        <nut-col :span="24" align="right">
          <nut-button type="primary" @click="page.methods.queryOk">确定</nut-button>
        </nut-col>
      </nut-row>
    </nut-cell>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import Taro from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import { getSaleRankTopList } from '@/api/sale'
import moment from 'moment'

const nowDate = moment(new Date()).format('YYYY-MM-DD')

const formSearchFilter = reactive({
  billTimeStart: nowDate.substring(0, 8) + '01',
  billTimeEnd: nowDate,
  sDepartmentName: null,
  sCustomerClassFullName: null,
  sProductClassName: null,
  pages: 1,
  current: 1,
  statistics: 1,
})

const calendar = reactive({
  isVisible: false,
  setChooseValue: param => {
    formSearchFilter.billTimeStart = param[0][3]
    formSearchFilter.billTimeEnd = param[1][3]
  }
})

const show = ref(false);
const desc = ref('按销售员统计');
const statisticsColumns = ref([
  { text: '按销售员统计', value: '1' },
  { text: '按客户统计', value: '2' },
  { text: '按产品统计', value: '3' }
]);

const confirm = ({ selectedOptions }, type) => {
  if (type === 'statistics') {
    desc.value = selectedOptions[0].text;
    formSearchFilter.statistics = selectedOptions[0].value;
  }
}

const ruleForm = ref({})
const loadding = ref(false)

const saleTop3 = ref([])
const saleTopOther = ref([])

onMounted(() => {
})

const page = reactive({
  state: {
    filterShow: false,
    queryDataShow: false,
  },
  methods: {
    formSearch: () => {
      page.methods.queryOk()
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          formSearchFilter.current = 1
          formSearchFilter.pages = 1
          console.log("formSearchFilter", formSearchFilter)
          getSaleRankTopList(formSearchFilter).then((_res) => {
            console.log(_res)
            formSearchFilter.pages = _res.pages
            saleTop3.value = _res.records.slice(0, 3);
            saleTopOther.value = _res.records.slice(3);
            console.log(saleTop3.value)
            console.log(saleTopOther.value)
            formSearchFilter.current += 1
          }).finally(() => {
            loadding.value = false
          })
        } else {
          loadding.value = false
        }
      })
    },
    queryOk: () => {
      saleTop3.value = []
      saleTopOther.value = []
      page.state.filterShow = false;
      page.state.queryDataShow = true;
    },
    filterOk: () => {
      page.state.filterShow = true;
      page.state.queryDataShow = false;
    },
    handleScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadInfo()
    },
    back: () => {
      if (page.state.filterShow) {
        page.state.filterShow = false;
      } else {
        Taro.navigateTo({
          url: `pages/sale/index`
        })
      }
    },
    loadInfo: () => {
      if (formSearchFilter.current > formSearchFilter.pages) {
        return;
      }
      loadding.value = true;
      getSaleRankTopList(formSearchFilter).then((_res) => {
        console.log(_res)
        formSearchFilter.pages = _res.pages
        saleTopOther.value = saleTopOther.value.concat(_res.records)
        formSearchFilter.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
  },
})
</script>

<style lang="scss">
.saleranktop {

  .row-col-input .nut-input {
    padding: 0;
    border: 0;
  }

  .row-col-input .nut-input .nut-icon {
    padding-right: 5cqw;
  }

  th {
    text-align-last: revert;
  }

  .footer_button {
    position: fixed;
    bottom: 0;
  }

  .top1-font-size {
    font-size: 1rem;
  }

  .top2-font-size {
    font-size: 0.8rem;
  }

  .top3-font-size {
    font-size: 0.8rem;
  }

  .nut-badge .slot-icons {
    background-size: cover;
    border-radius: 0;
    top: -15%;
    right: 33%;
  }

  .badge-top1 .slot-icons {
    background-image: url('/public/img/sale/top1.png');
  }

  .badge-top2 .slot-icons {
    background-image: url('/public/img/sale/top2.png');
  }

  .badge-top3 .slot-icons {
    background-image: url('/public/img/sale/top3.png');
  }

  .t-span1 {
    width: 5%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .t-span-icon {
    width: 10%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .t-span2 {
    width: 60%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .t-span3 {
    width: 25%;
    text-align: right;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

}
</style>
