<template>
  <div>
    <nut-navbar @on-click-back="page.methods.back" :title="$t('lyapp.menu.menu')">
      <template #left>
        <nut-button size="mini" shape="square" plain type="primary" @click="page.methods.logout">{{ $t('lyapp.login.logout') }}</nut-button>
      </template>
    </nut-navbar>
    <nut-grid>
      <nut-grid-item icon="jdl" text="销售管理" icon-color="#195ED7" @click="page.methods.to('/pages/sale/index')"></nut-grid-item>
      <nut-grid-item icon="people" text="生产管理" icon-color="#195ED7" @click="page.methods.to('/pages/produce/index')"></nut-grid-item>
      <nut-grid-item icon="eye" text="采购管理"></nut-grid-item>
      <nut-grid-item icon="shop" text="物料仓库"></nut-grid-item>
      <nut-grid-item icon="shop3" text="产品仓库"></nut-grid-item>
      <nut-grid-item icon="cart" text="半成品仓库"></nut-grid-item>
      <nut-grid-item icon="order" text="经理查询"></nut-grid-item>
      <nut-grid-item icon="my" text="审批流管理"></nut-grid-item>
    </nut-grid>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import { localCache, cache } from '@/utils/cache'

const formData = reactive({
  searchValue: '',
})

onMounted(() => {
})

useDidShow(() => {})

const loadding = ref(false)
const page = reactive({
  methods: {
    to: (url: string) => {
      Taro.navigateTo({
        url: url,
      })
    },
    logout: () => {
      localCache.clear()
      cache.clear()
      Taro.navigateTo({
        url: `pages/login/index`
      })
    }

  },
})
</script>

<style lang="scss"></style>
