<template>
  <div class="taskorder-view">
    <div>
      <nut-navbar @on-click-back="page.methods.back" title="任务报工">
        <template #left>
          <nut-icon name="rect-left"></nut-icon>
        </template>
        <template #right>
          <nut-button size="mini" shape="square" style="background-color: #B886F8;color: white;"
            @click="page.methods.add">新增</nut-button>
        </template>
      </nut-navbar>
    </div>
    <div>
      <nut-form :model-value="formData" ref="formDataRule">
        <nut-form-item label="登记单号">
          <nut-input v-model="formData.sBillNo" readonly />
        </nut-form-item>
        <nut-form-item label="工作中心">
          <nut-input v-model="formData.sWorkCenterName" readonly />
        </nut-form-item>
        <nut-form-item label="机台名称">
          <nut-input v-model="formData.sMachineName" readonly />
        </nut-form-item>

        <nut-form-item label="条码">
          <nut-input v-model="formData.uGuid1" readonly />
        </nut-form-item>

        <nut-form-item label="工单号">
          <nut-input v-model="formData.sWorkOrderNo" readonly />
        </nut-form-item>

        <nut-form-item label="产品名称">
          <nut-input v-model="formData.sProductName" readonly />
        </nut-form-item>

        <nut-form-item label="部件名称">
          <nut-input v-model="formData.sPartName" readonly />
        </nut-form-item>

        <nut-cell style="padding: unset;">
          <nut-form-item label="工序名称">
            <nut-input v-model="formData.sProcessName" readonly />
          </nut-form-item>

          <nut-form-item label="待报产数">
            <nut-input v-model="formData.dNoReportQty" readonly />
          </nut-form-item>
        </nut-cell>

        <nut-cell style="padding: unset;">
          <nut-form-item label="计数方式">
            <nut-input v-model="formData.sCountTypeName" readonly />
          </nut-form-item>

          <nut-form-item label="投入数">
            <nut-input v-model="formData.dQty" readonly />
          </nut-form-item>

        </nut-cell>

        <nut-cell style="padding: unset;">
          <nut-form-item label="废品数">
            <nut-input v-model="formData.dWasteQty" readonly />
          </nut-form-item>

          <nut-form-item label="产出数">
            <nut-input v-model="formData.dOutPutQty" readonly />
          </nut-form-item>
        </nut-cell>

        <nut-cell style="padding: unset;align-items: center;">
          <nut-form-item label="班组名称">
            <nut-input v-model="formData.sTeamName" readonly />
          </nut-form-item>
        </nut-cell>
        <nut-form-item></nut-form-item>
      </nut-form>
      <nut-list :list-data="userTaskData" class="emp-list">
        <template v-slot="{ item, index }">
          <nut-cell class="cell-table" @click="page.methods.editUserTask(item)">
            <table style="width: 100%;">
              <tr>
                <div>
                  <span class="emp-span4-1">员工工号：</span>
                  <span class="emp-span4-1">{{ item.sEmployeeID }}</span>
                  <span class="emp-span4-1">员工名称：</span>
                  <span class="emp-span4-1">{{ item.sEmployeeName }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="emp-span6-1">投入数：</span>
                  <span class="emp-span6-1">{{ item.dQty }}</span>
                  <span class="emp-span6-1">废品数：</span>
                  <span class="emp-span6-1">{{ item.dWasteQty }}</span>
                  <span class="emp-span6-1">产出数：</span>
                  <span class="emp-span6-1">{{ item.dOutPutQty }}</span>
                </div>
              </tr>
            </table>
          </nut-cell>
        </template>
      </nut-list>


      <nut-popup position="bottom" v-model:visible="page.state.showUserTask">
        <nut-navbar style="background-color: #E8E8E8;">
          <template #left>
            <view class="left-title">员工产量</view>
          </template>
          <template #right>
            <nut-button size="mini" shape="square" type="primary"
              @click="page.methods.editUserTaskCancel()">取消</nut-button>
          </template>
        </nut-navbar>
        <nut-form :model-value="formUserTaskData" ref="ruleUserTaskForm">
          <nut-form-item label="员工工号">
            <nut-input v-model="formUserTaskData.sEmployeeID" readonly />
          </nut-form-item>

          <nut-form-item label="员工名称">
            <nut-input v-model="formUserTaskData.sEmployeeName" readonly />
          </nut-form-item>

          <nut-form-item label="投入数">
            <nut-input v-model="formUserTaskData.dQty" readonly />
          </nut-form-item>

          <nut-form-item label="废品数">
            <nut-input v-model="formUserTaskData.dWasteQty" readonly />
          </nut-form-item>

          <nut-form-item label="产出数">
            <nut-input v-model="formUserTaskData.dOutPutQty" readonly />
          </nut-form-item>

        </nut-form>
        <nut-cell>
          <nut-row>
            <nut-col align="right">
            </nut-col>
          </nut-row>
        </nut-cell>
      </nut-popup>
      <nut-cell class="footer_button" v-if="formData.bApp == '0'">
        <nut-row>
          <nut-col :span="8">
            <nut-button shape="square" style="background-color: #E8E8E8;color: black;"
              @click="page.methods.delete">删除</nut-button>
          </nut-col>
          <nut-col :span="8" align="center">
            <nut-button shape="square" style="background-color: #FFF700;color: black;"
              @click="page.methods.edit">编辑</nut-button>
          </nut-col>
          <nut-col :span="8" align="right">
            <nut-button shape="square" style="background-color: #E99D42;color: black;"
              @click="page.methods.audi">审核</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
      <nut-cell class="footer_button" v-if="formData.bApp == '1'">
        <nut-row>
          <nut-col :span="24" align="right">
            <nut-button shape="square" style="background-color: #E99D42;color: black;"
              @click="page.methods.cancelAudi">消审</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow, getCurrentInstance } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import _ from 'lodash'
import { locadInfo, deleteInfo, audiInfo, cancelAudiInfo } from '@/api/workorder'

const { router } = getCurrentInstance()
const uGuid1 = router?.params.guid1
const uGuid2 = router?.params.guid2

//任务报工界面数据
const formData = ref({})
const userTaskData = ref([])

const formUserTaskData = ref([])

onMounted(() => {
  page.methods.loadInfo()
})

const loadding = ref(false)

const page = reactive({
  state: {
    showUserTask: false
  },
  methods: {
    loadInfo: () => {
      locadInfo({ "uGuid1": uGuid1, "uGuid2": uGuid2 }).then((_res) => {
        formData.value = _.merge({}, _res.registration, _res.detail)
        userTaskData.value = _res.employeeList
      })
    },
    back: () => {
      Taro.navigateBack()
    },
    add: () => {
      Taro.navigateTo({
        url: `pages/produce/taskorder/add/index`
      })
    },
    editUserTask: (user) => {
      if (formData.value.sCountType == '1') {
        return
      }
      formUserTaskData.value = user
      page.state.showUserTask = true
    },
    editUserTaskCancel: () => {
      page.state.showUserTask = false
    },
    delete: () => {
      deleteInfo({ "uGuid1": uGuid1 }).then((_res) => {
        Taro.showToast({
          title: '报工任务删除成功！',
          icon: 'none',
          duration: 3000,
          success: function () {
            Taro.navigateBack()
          }
        })

      })
    },
    audi: () => {
      audiInfo({ "uGuid1": uGuid1 }).then((_res) => {
        Taro.showToast({
          title: '报工任务审核成功！',
          icon: 'none',
          duration: 3000,
          success: function () {
            formData.value.bApp = '1'
          }
        })
      })
    },
    cancelAudi: () => {
      cancelAudiInfo({ "uGuid1": uGuid1 }).then((_res) => {
        Taro.showToast({
          title: '报工任务取消审核成功！',
          icon: 'none',
          duration: 3000,
          success: function () {
            formData.value.bApp = '0'
          }
        })
      })
    },
    edit: () => {
      Taro.navigateTo({
        url: `pages/produce/taskorder/add/index?guid1=${uGuid1}&guid2=${uGuid2}`
      })
    },
  },
})
</script>

<style lang="scss">
.taskorder-view {

  tr {
    display: block;
    margin: 5px 0;
  }

  tr div {
    display: flex;
  }

  tr .t-title {
    width: 20%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .r-t-title {
    width: 20%;
    text-align: right;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value {
    width: 30%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value3 {
    width: 80%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .e-title {
    width: 18%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .e-value {
    width: 26%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .e-check {
    width: 10%;
    text-align: right;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .emp-span6-1 {
    width: 16.5%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .emp-span4-1 {
    width: 22%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .left-title {
    color: #0F40F5;
    font-weight: bold;
  }

  .nut-navbar__right {
    margin-left: auto;
  }

  .scan-icon .nut-icon {
    color: #195ED7;
  }

  .scan-icon2 {
    color: #195ED7;
    z-index: 100;
  }

  .footer_button {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }

  .cell-table {
    box-shadow: 0px 1px 20px 20px rgb(237, 238, 241);
  }

  .emp-list {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}</style>
