<template>
  <div class="taskorder">
    <div>
      <nut-navbar @on-click-back="page.methods.back" title="任务报工列表">
        <template #left>
          <nut-icon name="rect-left"></nut-icon>
        </template>
        <template #right>
          <nut-button size="mini" shape="square" type="primary" v-if="!page.state.filterShow"
            @click="page.methods.add">新增</nut-button>
        </template>
      </nut-navbar>
    <nut-form :model-value="formSearch" ref="ruleForm">
      <nut-form-item label="时间段" required class="date-icon">
        <nut-input max-length="64" @click="calendar.isVisible = true" class="value-placeholder"
          :placeholder="formSearch.billTimeStart ? `${formSearch.billTimeStart} 至 ${formSearch.billTimeEnd}` : '请选择'"
          right-icon="date" right-icon-size="large" @click-right-icon="calendar.isVisible = true" />
      </nut-form-item>
      <nut-calendar v-model:visible="calendar.isVisible"
        :default-value="[formSearch.billTimeStart, formSearch.billTimeEnd]" type="range"
        @close="calendar.isVisible = false" @choose="calendar.setChooseValue" :start-date="`1999-01-01`">
      </nut-calendar>

      <div v-if="page.state.filterShow">
        <nut-form-item label="是否审核" style="display: flex;">
          <nut-radiogroup direction="horizontal" v-model="formSearch.app">
            <nut-radio label="-1">全部</nut-radio>
            <nut-radio label="1">已审</nut-radio>
            <nut-radio label="0">未审</nut-radio>
          </nut-radiogroup>
        </nut-form-item>

        <nut-form-item label="登记单号" prop="sBillNo" class="scan-icon">
          <nut-input max-length="64" v-model="formSearch.billNo" placeholder="可扫描/输入条码，精确搜索" right-icon="scan2"
            right-icon-size="x-large" />
        </nut-form-item>

        <nut-form-item label="工单号" prop="sWorkOrderNo" class="scan-icon">
          <nut-input max-length="64" v-model="formSearch.workOrderNo" placeholder="可扫描/输入工单号，模糊搜索" right-icon="scan2"
            right-icon-size="x-large" />
        </nut-form-item>

        <nut-form-item label="条码" prop="uBarCode" class="scan-icon">
          <nut-input max-length="64" v-model="formSearch.uBarCode" placeholder="可扫描/输入条码，精确搜索" right-icon="scan2"
            right-icon-size="x-large" />
        </nut-form-item>

        <nut-form-item label="工作中心">
          <AutoComplete v-model="formSearch.workCenterName" placeholder="请输入工作中心" iconName="triangle-down"
            url="/comdict/workCenter/search">
          </AutoComplete>
        </nut-form-item>
        <nut-form-item label="机台名称">
          <AutoComplete v-model="formSearch.machineName" placeholder="请输入机台名称" iconName="triangle-down"
            url="/comdict/machine/search">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="班组名称">
          <AutoComplete v-model="formSearch.teamName" placeholder="请输入班组名称" iconName="triangle-down"
            url="/comdict/team/search">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="产品编码">
          <AutoComplete v-model="formSearch.productID" placeholder="请输入产品编码" iconName="triangle-down"
            url="/comdict/saleProduct/idsearch">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="产品名称">
          <AutoComplete v-model="formSearch.productName" placeholder="请输入产品名称" iconName="triangle-down"
            url="/comdict/saleProduct/search">
          </AutoComplete>
        </nut-form-item>
      </div>

      <nut-cell class="footer_button" v-if="!page.state.filterShow">
        <nut-row>
          <nut-col :span="12">
            <nut-button shape="square" plain type="primary" @click="page.methods.filterOk">筛选</nut-button>
          </nut-col>
          <nut-col :span="12" align="right">
            <nut-button type="primary" @click="page.methods.formSearch">查询</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
      <nut-cell class="footer_button" v-if="page.state.filterShow">
        <nut-row>
          <nut-col :span="24" align="right">
            <nut-button type="primary" @click="page.methods.queryOk">确定</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
    </nut-form>
    </div>
    <div v-if="page.state.queryDataShow" style="max-height: fit-content !important;overflow: hidden;">
      <nut-list :list-data="formSearchData" @scroll-bottom="page.methods.handleScroll">
        <template v-slot="{ item, index }">
          <nut-cell class="cell-table">
            <table style="width: 100%;" @click="page.methods.to(item.uGuid1, item.uGuid2)">
              <tr>
                <div>
                  <span class="t-title">登记单号：</span>
                  <span class="t-value2" style="color: blue;">{{ item.sBillNo }}</span>
                  <span class="t-value">{{ $filters.formatDate(item.tBillTime) }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">工单号：</span>
                  <span class="t-value3">{{ item.sWorkOrderNo }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">产品名称：</span>
                  <span class="t-value3">{{ item.sProductName }}</span>
                  <nut-tag v-if="item.bApp == 0" plain class="table-tag-app-off">待审</nut-tag>
                  <nut-tag v-if="item.bApp == 1" plain class="table-tag-app-on">已审</nut-tag>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">工序名称：</span>
                  <span class="t-value">{{ item.sProcessName }}</span>
                  <span class="t-title">投入数：</span>
                  <span class="t-value">{{ item.dQty }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">产出数：</span>
                  <span class="t-value">{{ item.dOutPutQty }}</span>
                  <span class="t-title">废品数：</span>
                  <span class="t-value">{{ item.dWasteQty }}</span>
                </div>
              </tr>
            </table>
          </nut-cell>
        </template>
      </nut-list>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow } from '@tarojs/taro'
import Taro from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import { getTaskList } from '@/api/workorder'
import moment from 'moment'

const nowDate = moment(new Date()).format('YYYY-MM-DD')

const formSearch = reactive({
  pages: 1,
  searchValue: '1',
  billTimeStart: nowDate.substring(0, 8) + '01',
  billTimeEnd: nowDate,
  app: '-1',
  billNo: null,
  workOrderNo: null,
  barCode: '',
  workCenterName: '',
  machineName: '',
  teamName: '',
  productID: '',
  productName: '',
  current: 1,
})
const formSearchData = ref([])
const calendar = reactive({
  isVisible: false,
  setChooseValue: param => {
    formSearch.billTimeStart = param[0][3]
    formSearch.billTimeEnd = param[1][3]
  }
})

onMounted(() => {
})

useDidShow(() => { })

const ruleForm = ref({})

const loadding = ref(false)
const page = reactive({
  state: {
    filterShow: false,
    queryDataShow: false,
  },
  methods: {
    formSearch: () => {
      if (loadding.value) {
        return;
      }
      formSearch.current = 1
      formSearch.pages = 1
      formSearchData.value = []
      page.methods.queryOk()
      ruleForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          console.log(formSearch)
          page.methods.loadInfo()
        } else {
          loadding.value = false;
        }
      })
    },
    queryOk: () => {
      page.state.filterShow = false;
      page.state.queryDataShow = true;
    },
    filterOk: () => {
      page.state.filterShow = true;
      page.state.queryDataShow = false;
    },
    back: () => {
      if (page.state.filterShow) {
        page.state.filterShow = false;
      } else {
        Taro.navigateTo({
          url: `pages/produce/index`
        })
      }
    },
    handleScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadInfo()
    },
    loadInfo: () => {
      if (formSearch.current > formSearch.pages) {
        return;
      }
      loadding.value = true;
      getTaskList(formSearch).then((_res) => {
        page.state.filterShow = false;
        formSearch.pages = _res.pages
        formSearchData.value = formSearchData.value.concat(_res.records)
        console.log(_res)
        formSearch.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
    to: (id1, id2) => {
      Taro.navigateTo({
        url: `pages/produce/taskorder/view/index?guid1=${id1}&guid2=${id2}`
      })
    },
    add: () => {
      Taro.navigateTo({
        url: `pages/produce/taskorder/add/index`
      })
    }
  },
})
</script>

<style lang="scss">
.taskorder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  .nut-list-container {
    padding-bottom: 44vw;
  }
  tr {
    display: block;
    margin: 5px 0;
  }

  tr .t-title {
    width: 20%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .r-t-title {
    width: 20%;
    text-align: right;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value {
    width: 30%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value2 {
    width: 50%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value3 {
    width: 80%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .footer_button {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }

  .scan-icon .nut-icon {
    color: #195ED7;
  }

  .date-icon {
    display: flex;

    .nut-icon {
      padding-right: 12cqw;
    }
  }

  .table-tag-app-on {
    transform: rotate(-30deg);
    background: transparent;
    color: #FA2400;
    border: 2px solid #FA2400;
    position: absolute;
    right: 30px;
    top: 60px;
  }

  .table-tag-app-off {
    transform: rotate(-30deg);
    background: transparent;
    color: #FCCA00;
    border: 2px solid #FCCA00;
    position: absolute;
    right: 30px;
    top: 60px;
  }

  .cell-table {
    box-shadow: 0px 1px 20px 20px rgb(237, 238, 241);
  }
}
</style>
