<template>
    <div class="autocomplete-input-div-class">
        <nut-input max-length="64" type="text" :class="autoComplete.state.suuid" v-model="autoComplete.state.inputvalue"
            :placeholder="autoComplete.state.placeholder" @update:model-value="autoComplete.methods.search"
            @focus="autoComplete.methods.focus" @blur="autoComplete.methods.blur">
        </nut-input>
        <view v-if="autoComplete.state.iconName && autoComplete.state.iconName.length > 0" class="nut-input-right-icon"
            @click="autoComplete.methods.show">
            <nut-icon :class="autoComplete.state.suuid" :name="autoComplete.state.iconName"></nut-icon>
        </view>
        <view v-show="autoComplete.state.showflag" class="autocomplete-view-class">
            <view :key="item.code" v-for="item in autoComplete.state.dictlist">
                <view class="autocomplete-div-class" @click="autoComplete.methods.optionSelect(item)">
                    {{ item.name }}
                </view>
            </view>
        </view>
    </div>
</template>

<script lang="ts" setup>
import { reactive, onBeforeUnmount, onMounted, nextTick, watch } from 'vue'
import { commonDict } from '@/api/comdict'
import { SysID } from '@/utils/tools'

let props = defineProps({
    modelValue: String as any,
    url: String,
    placeholder: String,
    iconName: String
})

const emit = defineEmits(['update:modelValue', 'select'])

onMounted(() => {
    nextTick(() => {
        mouseUpLisenter()
    })
})

function mouseUpLisenter() {
    document.body.addEventListener('mouseup', autoComplete.methods.hide)
}

onBeforeUnmount(() => {
    document.body.removeEventListener('mouseup', autoComplete.methods.hide)
})

const autoComplete = reactive({
    state: {
        showflag: false,
        inputvalue: props.modelValue,
        placeholder: props.placeholder,
        iconName: props.iconName,
        url: props.url,
        dictlist: [],
        inputactive: false,
        iconactive: false,
        suuid: SysID.uuid(16)
    },
    methods: {
        show: () => {
            if (!autoComplete.state.showflag) {
                autoComplete.state.iconactive = true
                autoComplete.methods.search()
            } else {
                autoComplete.state.showflag = false
                autoComplete.state.iconactive = false
            }
        },
        hide: (event) => {
            const targetClassName = event?.target?.className
            setTimeout(function () {
                if (targetClassName && targetClassName.indexOf &&
                    (targetClassName.indexOf(autoComplete.state.suuid) > 0
                        || targetClassName.indexOf(autoComplete.state.suuid) > 0)) {
                    //点击的为input输入框
                } else {
                    autoComplete.state.showflag = false
                }
            }, 200)
        },
        blur: () => {
            autoComplete.state.inputactive = false
            autoComplete.state.iconactive = false
            autoComplete.methods.hide(undefined)
            throw new TypeError('搜索框blur事件取消,该异常为正常抛出!')
        },
        focus: () => {
            autoComplete.state.inputactive = true
        },
        optionSelect: (value) => {
            autoComplete.state.inputvalue = value.name
            emit("update:modelValue", value.name);
            emit("select", value);
            autoComplete.state.showflag = false
        },
        search: () => {
            if (autoComplete.state.inputactive || autoComplete.state.iconactive) {
                autoComplete.state.dictlist = []
                let inputInfo = autoComplete.state.inputvalue
                emit("update:modelValue", inputInfo);
                commonDict.search(autoComplete.state.url, { current: 1, sName: inputInfo }).then((_res) => {
                    autoComplete.state.dictlist = _res.records
                    if (!autoComplete.state.showflag) {
                        autoComplete.state.showflag = true
                    }
                })
            } else {
                autoComplete.methods.hide
            }
        },
    }
})

watch(() => props.modelValue, (newValue, oldValue) => {
    autoComplete.state.inputvalue = newValue
})
</script>

<style lang="scss">
.autocomplete-input-div-class {

    position: relative;

    .autocomplete-view-class {
        position: absolute;
        z-index: 1000;
        background: #efefef;
        width: 240px;
        padding: 10px;
        max-height: 260px;
        overflow: overlay;
        margin-top: 14px;
    }

    .autocomplete-div-class {
        padding: 10px;
        color: black;
    }

    .nut-input {
        padding: 0;
        border-bottom: 0 !important;
    }

    .nut-icon {
        position: absolute;
        right: 4px;
        bottom: 4px;
    }
}
</style>