<template>
  <nut-dialog
    :title="compAction.state.title"
    :visible="compAction.state.show"
    @ok="compAction.methods.ok"
    overlayStyle="background: #eee;"
  >
    <template v-slot:default> </template>
  </nut-dialog>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'

const compAction = reactive({
  state: {
    title: '提示',
    show: false,
  },
  methods: {
    show: () => {
      compAction.state.show = !compAction.state.show
    },
    ok: () => {},
  },
})
</script>

<style>
.input {
  margin: 10px;
}
</style>
