<template>
  <nut-tabbar
    :bottom="true"
    :safeAreaInsetBottom="true"
    @tab-switch="tabSwitch"
    v-model:visible="activeName"
  >
    <nut-tabbar-item tab-title="首页" icon="home"></nut-tabbar-item>
    <nut-tabbar-item tab-title="我的" icon="my"></nut-tabbar-item>
  </nut-tabbar>
</template>
<script lang="ts" setup>
import Taro, { navigateTo } from '@tarojs/taro'
import { ref } from 'vue'
const activeName = ref('home')
const tabSwitch = (item, index) => {
  console.log(item, index)
  // console.log(activeName.value)
  switch (index) {
    case 0:
      navigateTo({ url: 'page/index' })
      break
    case 1:
      Taro.navigateTo({ url: 'page/mycard/index' })
      break
  }
}
</script>

<style scoped></style>
