page,
#app {
  @media screen and (min-width: 750px) {
    .demo{
      width: 100%;
    }
    .container-icbc{
      width: 100%;
    }
    .container-psbc {
      width: 100%;
    }
  }
  @media (min-width: 750px) {
    .demo{
      max-width: 13.48rem;
      margin: 0 auto;
    }
    .container-icbc {
      max-width: 13.48rem;
      margin: 0 auto;
    }
    .container-psbc {
      max-width: 13.48rem;
      margin: 0 auto;
    }
  }
  width: 100%;
  height: 100%;

  .dropdown > .search {
    width: initial;
    padding: 0 1vw !important;
    left: unset;
  }
  .nut-cell-group__warp {
    display: unset;
  }
  .nut-form-item__body__slots > .nut-input {
    padding: unset;
    border-bottom: 0;
  }
  .nut-cell-group .nut-cell::after {
    border-bottom: 1px solid #999;
  }
  .nut-cell:last-child::after{
    border-bottom: 1px solid #999;
  }
  .input-text::-webkit-input-placeholder{
    color: darkgray;
  }
  .input-text:-moz-placeholder{
    color: darkgray;
  }
  .input-text::-moz-placeholder{
    color: darkgray;
  }
  .input-text:-ms-input-placeholder{
    color: darkgray;
  }

  .value-placeholder::-webkit-input-placeholder{
    color: black;
  }
  .value-placeholder:-moz-placeholder{
    color: black;
  }
  .value-placeholdert::-moz-placeholder{
    color: black;
  }
  .value-placeholder:-ms-input-placeholder{
    color: black;
  }

}
body {
  .taro-tabbar__tabbar-hide {
    display: unset;
  }
  .nut-list-item {
    overflow-x: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .nut-list-phantom {
    height: unset !important;
  }
  .nut-list-container {
    position: relative;
    transform: unset !important;
  }
}
