<template>
  <div class="taskorder-add">
    <div v-show="page.state.showTodo">
      <nut-navbar style="background-color: #E8E8E8;">
        <template #left>
          <view class="left-title">请选择生产任务</view>
        </template>
        <template #right>
          <nut-button size="mini" shape="square" type="primary" @click="page.methods.showTask">取消</nut-button>
        </template>
      </nut-navbar>
      <nut-form :model-value="formSearch" ref="formSearchRule">
        <nut-form-item label="工单号" prop="ssBillNo" class="scan-icon">
          <nut-input max-length="64" v-model="formSearch.sBillNo" placeholder="输入工单号，自动模糊搜索" right-icon="scan2"
            right-icon-size="x-large" @change="page.methods.loadInfoNew" />
        </nut-form-item>
        <nut-form-item></nut-form-item>
      </nut-form>

      <nut-list :list-data="formSearchData" @scroll-bottom="page.methods.handleScroll">
        <template v-slot="{ item, index }">
          <nut-cell class="cell-table" @click="page.methods.handleSelect(item)">
            <table style="width: 100%;table-layout: fixed;">
              <tr>
                <div>
                  <span class="t-title">工单号：</span>
                  <span class="t-value3">{{ item.sWorkOrderNo }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">产品名称：</span>
                  <span class="t-value3">{{ item.sProductName }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">部件名称：</span>
                  <span class="t-value3">{{ item.sPartName }}</span>
                </div>
              </tr>
              <tr>
                <div>
                  <span class="t-title">工序名称：</span>
                  <span class="t-value">{{ item.sProcessName }}</span>
                  <span class="t-title">待报产数：</span>
                  <span class="t-value">{{ item.dNoReportQty }}</span>
                </div>
              </tr>
            </table>
          </nut-cell>
        </template>
      </nut-list>
    </div>


    <div v-show="page.state.showTask">
      <nut-navbar @on-click-back="page.methods.back" title="任务报工">
        <template #left>
          <nut-icon name="rect-left"></nut-icon>
        </template>
        <template #right>
          <nut-button size="mini" shape="square" type="primary" @click="page.methods.showTodo">选择待办</nut-button>
        </template>
      </nut-navbar>
      <nut-form :model-value="formData" ref="formDataRule">
        <nut-form-item label="登记单号">
          <nut-input v-model="formData.sBillNo" max-length="24" placeholder="自动生成" readonly />
        </nut-form-item>

        <nut-form-item label="工作中心" required prop="sWorkCenterName" :rules="[
          { required: true, message: '请输入工作中心' }]">
          <AutoComplete v-model="formData.sWorkCenterName" placeholder="请输入工作中心" iconName="triangle-down"
            url="/comdict/workCenter/search" @select="page.methods.selectCenter">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="机台名称" required prop="sMachineName" :rules="[
          { required: true, message: '请输入机台名称' }]">
          <AutoComplete v-model="formData.sMachineName" placeholder="请输入机台名称" iconName="triangle-down"
            url="/comdict/machine/search" @select="page.methods.selectMachine">
          </AutoComplete>
        </nut-form-item>

        <nut-form-item label="条码" class="scan-icon">
          <nut-input v-model="formData.uBarCode" max-length="64" placeholder="可扫描生产任务条码，手机/PDA" right-icon="scan2"
            right-icon-size="x-large" @change="page.methods.changeBarCode" />
        </nut-form-item>

        <nut-form-item label="工单号" required prop="sWorkOrderNo" :rules="[
          { required: true, message: '请输入工单号' }]">
          <nut-input v-model="formData.sWorkOrderNo" max-length="64" placeholder="选择代办/扫码自带" readonly />
        </nut-form-item>

        <nut-form-item label="产品名称" required prop="sProductName" :rules="[
          { required: true, message: '请输入产品名称' }]">
          <nut-input v-model="formData.sProductName" max-length="24" placeholder="选择代办/扫码自带" readonly />
        </nut-form-item>

        <nut-form-item label="部件名称">
          <nut-input v-model="formData.sPartName" max-length="24" placeholder="选择代办/扫码自带" readonly />
        </nut-form-item>

        <nut-cell style="padding: unset;">
          <nut-form-item label="工序名称" required prop="sProcessName" :rules="[
            { required: true, message: '请输入工序名称' }]">
            <nut-input v-model="formData.sProcessName" max-length="24" placeholder="选择代办/扫码自带" readonly />
          </nut-form-item>

          <nut-form-item label="待报产数" required prop="dNoReportQty" :rules="[
            { required: true, message: '请输入待报产数' }]">
            <nut-input v-model="formData.dNoReportQty" max-length="24" placeholder="" readonly type="number" />
          </nut-form-item>
        </nut-cell>

        <nut-cell style="padding: unset;">
          <nut-form-item label="计数方式" required prop="sCountTypeName" :rules="[
            { required: true, message: '请输入计数方式' }]">
            <AutoComplete v-model="formData.sCountTypeName" placeholder="" iconName="triangle-down"
              url="/comdict/systemoption/search?dictCode=DCountType" @select="page.methods.selectCountType">
            </AutoComplete>
          </nut-form-item>

          <nut-form-item label="投入数" required prop="dQty" :rules="[
            { required: true, message: '请输入投入数' },
            { validator: numberValidator, message: '投入数必须大于等于0' }]">
            <nut-input v-model="formData.dQty" max-length="24" placeholder="" type="number"
              v-bind:readonly="formData.sCountType != '1'" />
          </nut-form-item>

        </nut-cell>

        <nut-cell style="padding: unset;">
          <nut-form-item label="废品数" required prop="dWasteQty" :rules="[
            { required: true, message: '请输入废品数' },
            { validator: numberValidator, message: '废品数必须大于等于0' }]">
            <nut-input v-model="formData.dWasteQty" max-length="24" placeholder="" type="number"
              v-bind:readonly="formData.sCountType != '1'" />
          </nut-form-item>

          <nut-form-item label="产出数" required prop="dOutPutQty" :rules="[
            { required: true, message: '请输入产出数' },
            { validator: numberValidator, message: '产出数必须大于等于0' }]">
            <nut-input v-model="formData.dOutPutQty" max-length="24" placeholder="" type="number"
              v-bind:readonly="formData.sCountType != '1'" />
          </nut-form-item>
        </nut-cell>

        <nut-cell style="padding: unset;align-items: center;">
          <nut-form-item label="班组名称">
            <AutoComplete v-model="formData.sTeamName" placeholder="请输入班组名称" iconName="triangle-down"
              url="/comdict/team/search">
            </AutoComplete>
          </nut-form-item>
          <nut-icon class="scan-icon2" name='scan2' size="x-large"></nut-icon>
          <nut-form-item style="width: 36%;">
            <nut-button size="mini" shape="square" type="primary" @click="page.methods.showUser">选择员工</nut-button>
          </nut-form-item>
        </nut-cell>
      </nut-form>
      <nut-list :list-data="userTaskData" class="emp-list">
        <template v-slot="{ item, index }">
          <nut-swipe>
            <nut-cell class="cell-table" @click="page.methods.editUserTask(item)">
              <table style="width: 100%;">
                <tr>
                  <div>
                    <span class="emp-span4-1">员工工号：</span>
                    <span class="emp-span4-1">{{ item.sEmployeeID }}</span>
                    <span class="emp-span4-1">员工名称：</span>
                    <span class="emp-span4-1">{{ item.sEmployeeName }}</span>
                  </div>
                </tr>
                <tr>
                  <div>
                    <span class="emp-span6-1">投入数：</span>
                    <span class="emp-span6-1">{{ item.dQty }}</span>
                    <span class="emp-span6-1">废品数：</span>
                    <span class="emp-span6-1">{{ item.dWasteQty }}</span>
                    <span class="emp-span6-1">产出数：</span>
                    <span class="emp-span6-1">{{ item.dOutPutQty }}</span>
                  </div>
                </tr>
              </table>
            </nut-cell>
            <template #right>
              <nut-button shape="square" style="height:100%" type="danger"
                @click="page.methods.deleteUserTask(item)">删除</nut-button>
            </template>
          </nut-swipe>
        </template>
      </nut-list>


      <nut-popup position="bottom" v-model:visible="page.state.showUserTask">
        <nut-navbar style="background-color: #E8E8E8;">
          <template #left>
            <view class="left-title">请填写产量</view>
          </template>
          <template #right>
            <nut-button size="mini" shape="square" type="primary"
              @click="page.methods.editUserTaskCancel()">取消</nut-button>
          </template>
        </nut-navbar>
        <nut-form :model-value="formUserTaskData" ref="ruleUserTaskForm">
          <nut-form-item label="员工工号">
            <nut-input v-model="formUserTaskData.sEmployeeID" max-length="24" placeholder="" readonly />
          </nut-form-item>

          <nut-form-item label="员工名称">
            <nut-input v-model="formUserTaskData.sEmployeeName" max-length="64" placeholder="" readonly />
          </nut-form-item>

          <nut-form-item label="投入数" required prop="dQtyNew" :rules="[
            { required: true, message: '请输入投入数' }]">
            <nut-input v-model="formUserTaskData.dQtyNew" max-length="24" type="number" placeholder="输入投入数" />
          </nut-form-item>

          <nut-form-item label="废品数" required prop="dWasteQtyNew" :rules="[
            { required: true, message: '请输入废品数' }]">
            <nut-input v-model="formUserTaskData.dWasteQtyNew" max-length="24" type="number" placeholder="输入废品数" />
          </nut-form-item>

          <nut-form-item label="产出数" required prop="dOutPutQtyNew" :rules="[
            { required: true, message: '请输入产出数' }]">
            <nut-input v-model="formUserTaskData.dOutPutQtyNew" max-length="24" type="number" placeholder="输入产出数" />
          </nut-form-item>

        </nut-form>
        <nut-cell>
          <nut-row>
            <nut-col align="right">
              <nut-button shape="square" type="primary" @click="page.methods.editUserTaskOk()">确定</nut-button>
            </nut-col>
          </nut-row>
        </nut-cell>
      </nut-popup>
      <nut-cell class="footer_button">
        <nut-row>
          <nut-col :span="12">
            <nut-button shape="square" @click="page.methods.toHome">取消</nut-button>
          </nut-col>
          <nut-col :span="12" align="right">
            <nut-button shape="square" style="background-color: #FFF700;color: black;"
              @click="page.methods.save">保存</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
    </div>

    <div v-show="page.state.showUser">
      <nut-navbar style="background-color: #E8E8E8;">
        <template #left>
          <view class="left-title">请选择员工</view>
        </template>
        <template #right>
          <nut-button size="mini" shape="square" type="primary" @click="page.methods.showTask">取消</nut-button>
        </template>
      </nut-navbar>

      <nut-form :model-value="formUserSearch">
        <nut-form-item label="员工名称" prop="sName" style="display: flex;">
          <nut-input max-length="24" v-model="formUserSearch.sName" placeholder="输入员工名称，自动模糊搜索"
            @change="page.methods.loadUserNew" />
        </nut-form-item>
      </nut-form>

      <nut-list :list-data="formSearchUserData" style="margin-bottom: 5cqh;"
        @scroll-bottom="page.methods.handleUserScroll">
        <template v-slot="{ item, index }">
          <nut-cell class="cell-table">
            <table style="width: 100%;">
              <tr>
                <div>
                  <span class="e-title">员工工号：</span>
                  <span class="e-value">{{ item.sEmployeeID }}</span>
                  <span class="e-title">员工名称：</span>
                  <span class="e-value">{{ item.sEmployeeName }}</span>
                  <span class="e-check">
                    <nut-checkbox v-model="item.bCheck" icon-font-class-name="iconfont" icon-class-prefix="icon" 
                    icon-name="fangxingweixuanzhong" icon-active-name="fangxingxuanzhong" icon-size="24px"
                    @change="page.methods.selectUser(item)">
                    </nut-checkbox>
                  </span>
                </div>
              </tr>
            </table>
          </nut-cell>
        </template>
      </nut-list>
      <nut-cell class="footer_button">
        <nut-row>
          <nut-col align="right">
            <nut-button size="mini" shape="square" type="primary" @click="page.methods.selectUserOk">选择</nut-button>
          </nut-col>
        </nut-row>
      </nut-cell>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive } from 'vue'
import { useDidShow, getCurrentInstance } from '@tarojs/taro'
import AutoComplete from '@/components/AutoComplete.vue'
import Taro from '@tarojs/taro'
import _ from 'lodash'
import { getTodoTask, getProductionTask, getUserInfo, saveTaskOrder, locadInfo } from '@/api/workorder'
import { cache, getUser, localCache } from '@/utils/cache'

const numberValidator = (val: number) => val ? val >= 0 : false;
const { router } = getCurrentInstance()
const uGuid1 = router?.params.guid1
const uGuid2 = router?.params.guid2

//任务报工界面数据
const formData = reactive({
  sBillNo: null,
  sWorkOrderNo: null,
  sWorkCenterID: null,
  sWorkCenterName: null,
  sMachineID: null,
  sMachineName: null,
  uBarCode: null,
  sCustomerID: null,
  sCustomerName: null,
  sCustomerPO: null,
  sProductID: null,
  sProductName: null,
  sProductSize: null,
  sPartName: null,
  sProcessID: null,
  sProcessName: null,
  dNoReportQty: null,
  sCountType: '1',
  sCountTypeName: '按班组计数',
  dQty: null,
  dOutPutQty: null,
  dWasteQty: null,
  sTeamID: null,
  sTeamName: null,
  sSourceType: null,
  dProductQty: null,
  dProcessQty: null,
  sProductionUnitID: null,
  sProductionUnitName: null,
  uProcessGuid: null,
  sPrintMethod: null,
  iColorNumber: null,
  iModulus: null,
  iCutNumber: null,
  dCutLength: null,
  dCutWidth: null,
  sSalesOrderNo: null,
  userTask: []
})

const userTask = {
  sEmployeeID: null,
  sEmployeeName: null,
  sDepartmentID: null,
  sDepartmentName: null,
  sPositionID: null,
  sPositionName: null,
  dQty: null,
  dWasteQty: null,
  dOutPutQty: null,
  iOrder: null
}
const formUserTaskData = ref({
  sEmployeeID: null,
  sEmployeeName: null,
  sDepartmentID: null,
  sDepartmentName: null,
  sPositionID: null,
  sPositionName: null,
  dQty: null,
  dWasteQty: null,
  dOutPutQty: null,
  iOrder: null,
  dQtyNew: null,
  dWasteQtyNew: null,
  dOutPutQtyNew: null,
})

const formSearchUserData = ref([])
const userTaskData = ref([])

const formSearchData = ref([])
const formSearch = reactive({
  sBillNo: '',
  current: 1,
  pages: 1,
})
const selectUserData = reactive(new Map([]))
const formUserSearch = reactive({
  sName: null,
  current: 1,
  pages: 1,
})

const user = getUser()
onMounted(() => {
  if (uGuid1 && uGuid2) {
    page.methods.loadEditInfo()
    page.methods.showTask()
  } else {
    page.methods.loadInfo()
    const inputValue = JSON.parse(localCache.get(user.userId + "TOInput"))
    if (inputValue) {
      formData.sWorkCenterID = inputValue.WorkCenterID
      formData.sWorkCenterName = inputValue.WorkCenterName
      formData.sMachineID = inputValue.MachineID
      formData.sMachineName = inputValue.MachineName
    }
  }
})

useDidShow(() => { })

const formDataRule = ref({})
const ruleUserTaskForm = ref({})

const loadding = ref(false)

function fillParams(targetObject, sourceObject) {
  console.log("before", JSON.stringify(targetObject))

  if (sourceObject) {
    for (const [tkey, tvalue] of Object.entries(targetObject)) {
      for (const [skey, svalue] of Object.entries(sourceObject)) {
        if (tkey === skey) {
          targetObject[tkey] = svalue
          break
        }
      }
    }
  } else {
    for (const [tkey, tvalue] of Object.entries(targetObject)) {
      targetObject[tkey] = ''
    }
  }
  console.log("after", JSON.stringify(targetObject))
}

const page = reactive({
  state: {
    showTodo: true,
    showTask: false,
    showUser: false,
    showUserTask: false
  },
  methods: {
    showTodo: () => {
      page.state.showTodo = true
      page.state.showTask = false
      page.state.showUser = false
    },
    showTask: () => {
      page.state.showTodo = false
      page.state.showTask = true
      page.state.showUser = false
    },
    showUser: () => {
      page.state.showTodo = false
      page.state.showTask = false
      selectUserData.clear()
      page.methods.loadUserNew()
      page.state.showUser = true
    },
    formSearch: () => {
      formDataRule.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          loadding.value = false
          console.log(formSearch)
          getTodoTask(formSearch).then((_res) => {
            console.log(_res)
          })
        } else {
          loadding.value = false
        }
      })
    },
    handleScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadInfo()
    },
    handleUserScroll: () => {
      if (loadding.value) {
        return;
      }
      page.methods.loadUser()
    },
    handleSelect: (item) => {
      fillParams(formData, item)
      page.methods.showTask()
    },
    loadInfoNew: _.debounce(() => {
      formSearch.current = 1
      formSearch.pages = 1
      formSearchData.value = []
      page.methods.loadInfo()
    }, 550),
    loadUserNew: _.debounce(() => {
      formUserSearch.current = 1
      formUserSearch.pages = 1
      formSearchUserData.value = []
      page.methods.loadUser()
    }, 550),
    loadInfo: () => {
      if (formSearch.current > formSearch.pages) {
        return;
      }
      loadding.value = true;
      getTodoTask(formSearch).then((_res) => {
        console.log(_res)
        formSearch.pages = _res.pages
        formSearchData.value = formSearchData.value.concat(_res.records)
        console.log(formSearchData.value)
        formSearch.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
    loadUser: () => {
      if (formUserSearch.current > formUserSearch.pages) {
        return;
      }
      loadding.value = true;
      getUserInfo(formUserSearch).then((_res) => {
        formUserSearch.pages = _res.pages
        formSearchUserData.value = formSearchUserData.value.concat(_res.records)
        formUserSearch.current += 1
      }).finally(() => {
        loadding.value = false
      })
    },
    back: () => {
      Taro.navigateBack()
    },
    selectCenter: (item) => {
      if (item.code) {
        formData.sWorkCenterID = item.code
      }
    },
    selectMachine: (item) => {
      if (item.code) {
        formData.sMachineID = item.code
      }
    },
    selectCountType: (item) => {
      if (item.code) {
        formData.sCountType = item.code
      }
    },
    changeBarCode: () => {
      console.log("change", formData.uBarCode)
      loadding.value = true;
      getProductionTask({ "uBarCode": formData.uBarCode }).then((_res) => {
        fillParams(formData, _res)
      }).finally(() => {
        loadding.value = false
      })
    },
    selectUser: (user) => {
      const bCheck = user.bCheck
      const sID = user.sEmployeeID
      if (bCheck) {
        if (!selectUserData.has(sID)) {
          selectUserData.set(sID, user)
        }
      } else {
        if (selectUserData.has(sID)) {
          selectUserData.delete(sID)
        }
      }
      console.log(selectUserData)
    },
    loadEditInfo: () => {
      locadInfo({ "uGuid1": uGuid1, "uGuid2": uGuid2 }).then((_res) => {
        fillParams(formData, _res.detail)
        fillParams(formData, _res.registration)
        userTaskData.value = []
        for (const employee of _res.employeeList) {
          let newUserTask = {};
          Object.assign(newUserTask, userTask)
          fillParams(newUserTask, employee)
          userTaskData.value.push(newUserTask)
        }
      })
    },
    editUserTask: (user) => {
      if (formData.sCountType == '1') {
        return
      }
      formUserTaskData.value = user
      formUserTaskData.value.dQtyNew = formUserTaskData.value.dQty
      formUserTaskData.value.dWasteQtyNew = formUserTaskData.value.dWasteQty
      formUserTaskData.value.dOutPutQtyNew = formUserTaskData.value.dOutPutQty
      page.state.showUserTask = true
    },
    editUserTaskCancel: () => {
      page.state.showUserTask = false

    },
    editUserTaskOk: () => {
      ruleUserTaskForm.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          formUserTaskData.value.dQty = formUserTaskData.value.dQtyNew
          formUserTaskData.value.dWasteQty = formUserTaskData.value.dWasteQtyNew
          formUserTaskData.value.dOutPutQty = formUserTaskData.value.dOutPutQtyNew
          let sumdQty: number = 0
          let sumdWasteQty: number = 0
          let sumdOutPutQty: number = 0

          if (formData.dQty != null && formData.dQty != '') {
            sumdQty = parseInt(formData.dQty) + parseInt(formUserTaskData.value.dQty)
          } else {
            sumdQty = parseInt(formUserTaskData.value.dQty)
          }
          if (formData.dWasteQty != null && formData.dWasteQty != '') {
            sumdWasteQty = parseInt(formData.dWasteQty) + parseInt(formUserTaskData.value.dWasteQty)
          } else {
            sumdWasteQty = parseInt(formUserTaskData.value.dWasteQty)
          }
          if (formData.dOutPutQty != null && formData.dOutPutQty != '') {
            sumdOutPutQty = parseInt(formData.dOutPutQty) + parseInt(formUserTaskData.value.dOutPutQty)
          } else {
            sumdOutPutQty = parseInt(formUserTaskData.value.dOutPutQty)
          }
          formData.dQty = sumdQty
          formData.dWasteQty = sumdWasteQty
          formData.dOutPutQty = sumdOutPutQty
          page.state.showUserTask = false
        }
      })


    },
    selectUserOk: () => {
      userTaskData.value = []
      for (const [key, value] of selectUserData) {
        let newUserTask = {};
        Object.assign(newUserTask, userTask)
        fillParams(newUserTask, value)
        userTaskData.value.push(newUserTask)
      }
      page.methods.showTask()
    },
    toHome: () => {
      Taro.navigateTo({
        url: `pages/produce/index`
      })
    },
    save: () => {
      if (userTaskData.value.length == 0) {
        Taro.showToast({
          title: '员工明细信息未录入',
          icon: 'none',
          duration: 3000,
        })
        return
      } else {
        if (formData.sCountType == '2') {
          let sumdQty = 0
          let sumdWasteQty = 0
          let sumdOutPutQty = 0
          for (let item of userTaskData.value) {
            if (item.dQty == null || item.dQty == '' || item.dQty < 0) {
              Taro.showToast({
                title: '员工明细信息中投入数未录入完整,并且不能小于0!',
                icon: 'none',
                duration: 3000,
              })
              return
            }
            if (item.dWasteQty == null || item.dWasteQty == '' || item.dWasteQty < 0) {
              Taro.showToast({
                title: '员工明细信息中废品数未录入完整,并且不能小于0!',
                icon: 'none',
                duration: 3000,
              })
              return
            }
            if (item.dOutPutQty == null || item.dOutPutQty == '' || item.dOutPutQty < 0) {
              Taro.showToast({
                title: '员工明细信息中产出数未录入完整,并且不能小于0!',
                icon: 'none',
                duration: 3000,
              })
              return
            }
            sumdQty = sumdQty + Number(item.dQty)
            sumdWasteQty = sumdWasteQty + Number(item.dWasteQty)
          }
          // 产出数=投入数-废品数
          sumdOutPutQty = sumdQty - sumdWasteQty
          formData.dQty = sumdQty
          formData.dWasteQty = sumdWasteQty
          formData.dOutPutQty = sumdOutPutQty
        }
      }

      formData.userTask = userTaskData.value
      loadding.value = true
      formDataRule.value.validate().then(({ valid, errors }: any) => {
        if (valid) {
          saveTaskOrder(formData).then((_res) => {
            localCache.set(user.userId + "TOInput", JSON.stringify({
              WorkCenterID: formData.sWorkCenterID,
              WorkCenterName: formData.sWorkCenterName,
              MachineID: formData.sMachineID,
              MachineName: formData.sMachineName
            }))
            Taro.showToast({
              title: '报工任务新增成功！',
              icon: 'none',
              duration: 2000,
              success: function () {
                Taro.navigateTo({
                  url: `pages/produce/taskorder/view/index?guid1=${_res.uGuid1}&guid2=${_res.uGuid2}`
                })
              }
            })
          }).finally(() => {
            loadding.value = false
          })
        } else {
          loadding.value = false
        }
      })

    },
    deleteUserTask: (task) => {
      userTaskData.value = userTaskData.value.filter(obj => obj.sEmployeeID !== task.sEmployeeID);
      if (formData.sCountType == '2') {
        let sumdQty: number = 0
        let sumdWasteQty: number = 0
        let sumdOutPutQty: number = 0

        for (let item of userTaskData.value) {
          if (item.dQty != null && item.dQty != '' && item.dQty >= 0) {
            sumdQty = sumdQty + parseInt(item.dQty)
          }
          if (item.dWasteQty != null && item.dWasteQty != '' && item.dWasteQty >= 0) {
            sumdWasteQty = sumdWasteQty + parseInt(item.dWasteQty)
          }
          if (item.dOutPutQty != null && item.dOutPutQty != '' && item.dOutPutQty >= 0) {
            sumdOutPutQty = sumdOutPutQty + parseInt(item.dOutPutQty)
          }
        }
        formData.dQty = sumdQty
        formData.dWasteQty = sumdWasteQty
        formData.dOutPutQty = sumdOutPutQty
      }
    }
  },
})
</script>

<style lang="scss">
.taskorder-add {
  tr {
    display: block;
    margin: 5px 0;
  }

  tr div {
    display: flex;
  }

  tr .t-title {
    width: 20%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .r-t-title {
    width: 20%;
    text-align: right;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value {
    width: 30%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .t-value3 {
    width: 80%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .e-title {
    width: 18%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .e-value {
    width: 26%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .e-check {
    width: 10%;
    text-align: right;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .emp-span6-1 {
    width: 16.5%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  tr .emp-span4-1 {
    width: 22%;
    text-align: left;
    white-space: nowrap;
    display: -moz-inline-box;
    display: inline-block;
  }

  .left-title {
    color: #0F40F5;
    font-weight: bold;
  }

  .nut-navbar__title {
    display: none;
  }

  .nut-navbar__right {
    margin-left: auto;
  }

  .scan-icon .nut-icon {
    color: #195ED7;
  }

  .scan-icon2 {
    color: #195ED7;
    z-index: 100;
  }

  .footer_button {
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }

  .cell-table {
    box-shadow: 0px 1px 20px 20px rgb(237, 238, 241);
  }

  .emp-list {
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
</style>
